@import url("../CherryFramework/style.css");
@import url(//fonts.googleapis.com/css?family=Roboto:400,700);
body { background:#333436; }
@media (max-width: 767px) {
	body { padding:0; }
}
.main-holder { overflow:hidden; }
.main-holder input[type="text"], .main-holder input[type="email"], .main-holder textarea {
	background:#fff;
	min-height:21px;
	margin:0;
	padding:9px 13px 9px 13px !important;
	border:1px solid #d9d7d5 !important;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	resize:none;
	font-family:'Roboto', sans-serif;
	font-size:13px;
	font-weight:400;
	color:#868991 !important;
}
html.ie8 .main-holder input[type="text"], html.ie8 .main-holder input[type="email"], html.ie8 .main-holder textarea { line-height:20px; }
.main-holder input[type="submit"], .main-holder input[type="reset"] {
	background:#E6352B;
	height:41px;
	margin:0 15px 0 0;
	padding:0 12px;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	font-family:'Roboto', sans-serif;
	font-size:14px;
	font-weight:700;
	text-shadow:none;
	color:#fff;
}
.main-holder input[type="submit"]::-moz-placeholder, .main-holder input[type="reset"]::-moz-placeholder { color:#fff; }
.main-holder input[type="submit"]::-ms-input-placeholder, .main-holder input[type="reset"]::-ms-input-placeholder { color:#fff; }
.main-holder input[type="submit"]::-webkit-input-placeholder, .main-holder input[type="reset"]::-webkit-input-placeholder { color:#fff; }
.main-holder input[type="submit"]:-moz-placeholder, .main-holder input[type="reset"]:-moz-placeholder { color:#fff; }
.main-holder input[type="submit"]:-ms-input-placeholder, .main-holder input[type="reset"]:-ms-input-placeholder { color:#fff; }
.main-holder input[type="submit"]::-webkit-input-placeholder, .main-holder input[type="reset"]::-webkit-input-placeholder { color:#fff; }
.main-holder input[type="submit"]:focus, .main-holder input[type="reset"]:focus {
	background:#ABC80F;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
	color:#fff;
}
.main-holder input[type="submit"]:hover, .main-holder input[type="reset"]:hover {
	background:#ABC80F;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
	color:#fff;
}
h2 {
	margin:0 0 4px 0;
	padding:0 0 2px 0;
	border-bottom:4px solid #CCCED4;
}
h2 a {
	text-decoration:none;
	color:#333436;
}
h2 a:focus {
	text-decoration:none;
	color:#333436;
}
h2 a:hover {
	text-decoration:none;
	color:#d81c1c;
}
h3 {
	margin:0 0 4px 0;
	padding:0 0 2px 0;
	border-bottom:4px solid #D9D7D5;
}
h3 a {
	text-decoration:none;
	color:#333436;
}
h3 a:focus {
	text-decoration:none;
	color:#333436;
}
h3 a:hover {
	text-decoration:none;
	color:#d81c1c;
}
h4 { margin:2px 0 8px 0; }
h4 a {
	text-decoration:none;
	color:#fff;
}
h4 a:focus {
	text-decoration:none;
	color:#fff;
}
h4 a:hover {
	text-decoration:none;
	color:#e21010;
}
h5 a {
	text-decoration:none;
	color:#333436;
}
h5 a:focus {
	text-decoration:none;
	color:#333436;
}
h5 a:hover {
	text-decoration:none;
	color:#d81c1c;
}
h6 {
	margin:0 0 2px 0;
	padding:1px 0 0 0;
}
p { margin:0 0 19px 0; }
a {
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
}
a:hover {
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
	text-decoration:none;
}
.header {
	background:#454648;
	margin:0;
	padding:0;
	border:none;
}
@media (max-width: 767px) {
	.header {
		padding:0 20px 20px 20px;
		text-align:center;
	}
}
@media (min-width: 357px) {
	.header .search-form input[type="text"], .header .search-form input[type="email"], .header .search-form textarea {
		background:#fff;
		width:180px;
		min-height:21px;
		margin:0;
		padding:9px 13px 9px 13px !important;
		border:1px solid #d9d7d5 !important;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
		resize:none;
		font-family:'Roboto', sans-serif;
		font-size:13px;
		font-weight:400;
		color:#868991 !important;
	}
	html.ie8 .header .search-form input[type="text"], html.ie8 .header .search-form input[type="email"], html.ie8 .header .search-form textarea { line-height:20px; }
	.header .search-form input[type="text"] input[type="submit"], .header .search-form input[type="text"] input[type="reset"], .header .search-form input[type="email"] input[type="submit"], .header .search-form input[type="email"] input[type="reset"], .header .search-form textarea input[type="submit"], .header .search-form textarea input[type="reset"] {
		background:#E6352B;
		height:41px;
		margin:0 15px 0 0;
		padding:0 12px;
		border:none;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
		-webkit-transition:0.8s;
		-moz-transition:0.8s;
		-o-transition:0.8s;
		transition:0.8s;
		font-family:'Roboto', sans-serif;
		font-size:14px;
		font-weight:700;
		text-shadow:none;
		color:#fff;
	}
	.header .search-form input[type="text"] input[type="submit"]::-moz-placeholder, .header .search-form input[type="text"] input[type="reset"]::-moz-placeholder, .header .search-form input[type="email"] input[type="submit"]::-moz-placeholder, .header .search-form input[type="email"] input[type="reset"]::-moz-placeholder, .header .search-form textarea input[type="submit"]::-moz-placeholder, .header .search-form textarea input[type="reset"]::-moz-placeholder { color:#fff; }
	.header .search-form input[type="text"] input[type="submit"]::-ms-input-placeholder, .header .search-form input[type="text"] input[type="reset"]::-ms-input-placeholder, .header .search-form input[type="email"] input[type="submit"]::-ms-input-placeholder, .header .search-form input[type="email"] input[type="reset"]::-ms-input-placeholder, .header .search-form textarea input[type="submit"]::-ms-input-placeholder, .header .search-form textarea input[type="reset"]::-ms-input-placeholder { color:#fff; }
	.header .search-form input[type="text"] input[type="submit"]::-webkit-input-placeholder, .header .search-form input[type="text"] input[type="reset"]::-webkit-input-placeholder, .header .search-form input[type="email"] input[type="submit"]::-webkit-input-placeholder, .header .search-form input[type="email"] input[type="reset"]::-webkit-input-placeholder, .header .search-form textarea input[type="submit"]::-webkit-input-placeholder, .header .search-form textarea input[type="reset"]::-webkit-input-placeholder { color:#fff; }
	.header .search-form input[type="text"] input[type="submit"]:-moz-placeholder, .header .search-form input[type="text"] input[type="reset"]:-moz-placeholder, .header .search-form input[type="email"] input[type="submit"]:-moz-placeholder, .header .search-form input[type="email"] input[type="reset"]:-moz-placeholder, .header .search-form textarea input[type="submit"]:-moz-placeholder, .header .search-form textarea input[type="reset"]:-moz-placeholder { color:#fff; }
	.header .search-form input[type="text"] input[type="submit"]:-ms-input-placeholder, .header .search-form input[type="text"] input[type="reset"]:-ms-input-placeholder, .header .search-form input[type="email"] input[type="submit"]:-ms-input-placeholder, .header .search-form input[type="email"] input[type="reset"]:-ms-input-placeholder, .header .search-form textarea input[type="submit"]:-ms-input-placeholder, .header .search-form textarea input[type="reset"]:-ms-input-placeholder { color:#fff; }
	.header .search-form input[type="text"] input[type="submit"]::-webkit-input-placeholder, .header .search-form input[type="text"] input[type="reset"]::-webkit-input-placeholder, .header .search-form input[type="email"] input[type="submit"]::-webkit-input-placeholder, .header .search-form input[type="email"] input[type="reset"]::-webkit-input-placeholder, .header .search-form textarea input[type="submit"]::-webkit-input-placeholder, .header .search-form textarea input[type="reset"]::-webkit-input-placeholder { color:#fff; }
	.header .search-form input[type="text"] input[type="submit"]:focus, .header .search-form input[type="text"] input[type="reset"]:focus, .header .search-form input[type="email"] input[type="submit"]:focus, .header .search-form input[type="email"] input[type="reset"]:focus, .header .search-form textarea input[type="submit"]:focus, .header .search-form textarea input[type="reset"]:focus {
		background:#ABC80F;
		-webkit-transition:0.4s;
		-moz-transition:0.4s;
		-o-transition:0.4s;
		transition:0.4s;
		color:#fff;
	}
	.header .search-form input[type="text"] input[type="submit"]:hover, .header .search-form input[type="text"] input[type="reset"]:hover, .header .search-form input[type="email"] input[type="submit"]:hover, .header .search-form input[type="email"] input[type="reset"]:hover, .header .search-form textarea input[type="submit"]:hover, .header .search-form textarea input[type="reset"]:hover {
		background:#ABC80F;
		-webkit-transition:0.4s;
		-moz-transition:0.4s;
		-o-transition:0.4s;
		transition:0.4s;
		color:#fff;
	}
}
.header .block_1 {
	background:#333436;
	position:relative;
	margin:0 0 20px 0;
}
.header .block_1:before {
	background:#333436;
	display:block;
	width:101%;
	position:absolute;
	top:0;
	bottom:0;
	left:-100%;
	z-index:-1;
	content:'';
}
.header .block_1:after {
	background:#333436;
	display:block;
	width:101%;
	position:absolute;
	top:0;
	bottom:0;
	right:-100%;
	z-index:-1;
	content:'';
}
.header .block_1 .header_widget_1 h4 { display:none; }
.header .block_1 .header_widget_1 ul {
	background:url(images/divider.gif) no-repeat 0% 50%;
	margin:0;
	padding:0 0 0 1px;
	line-height:0;
	font-size:0;
}
@media (max-width: 767px) {
	.header .block_1 .header_widget_1 ul {
		display:inline-block;
		vertical-align:top;
	}
}
@media (max-width: 480px) {
	.header .block_1 .header_widget_1 ul {
		background:none;
		margin:0;
		padding:5px 0;
	}
}
.header .block_1 .header_widget_1 ul li {
	background:url(images/divider.gif) no-repeat 100% 50%;
	display:inline-block;
	margin:0;
	padding:0;
	list-style:none;
	vertical-align:top;
	line-height:19px;
	font-size:13px;
	color:#fff;
}
@media (max-width: 767px) {
	.header .block_1 .header_widget_1 ul li { font-size:12px; }
}
@media (max-width: 480px) {
	.header .block_1 .header_widget_1 ul li {
		background:none;
		margin:3px 7px !important;
		font-size:12px;
	}
}
.header .block_1 .header_widget_1 ul li:first-child { margin:0; }
.header .block_1 .header_widget_1 ul li a {
	display:block;
	padding:12px 12px 17px 12px;
	text-decoration:none;
	color:#fff;
}
@media (max-width: 767px) {
	.header .block_1 .header_widget_1 ul li a { padding:10px 8px 10px 8px; }
}
@media (max-width: 480px) {
	.header .block_1 .header_widget_1 ul li a { padding:0; }
}
.header .block_1 .header_widget_1 ul li a:focus {
	text-decoration:none;
	color:#fff;
}
.header .block_1 .header_widget_1 ul li a:hover {
	text-decoration:none;
	color:#e21010;
}
.header .block_1 .search-form input[type="text"] {
	background:#333436;
	float:left;
	width:73px;
	height:20px;
	min-height:20px;
	margin:0;
	padding:14px 0 14px 15px !important;
	border:none !important;
	font-size:13px;
	color:#e21010 !important;
}
.header .block_1 .search-form input[type="text"]::-moz-placeholder { color:#e21010; }
.header .block_1 .search-form input[type="text"]::-ms-input-placeholder { color:#e21010; }
.header .block_1 .search-form input[type="text"]::-webkit-input-placeholder { color:#e21010; }
.header .block_1 .search-form input[type="text"]:-moz-placeholder { color:#e21010; }
.header .block_1 .search-form input[type="text"]:-ms-input-placeholder { color:#e21010; }
.header .block_1 .search-form input[type="text"]::-webkit-input-placeholder { color:#e21010; }
.header .block_1 .search-form input[type="submit"] {
	background:url(images/search_submit.png) no-repeat 100% 50%;
	float:left;
	width:41px;
	height:41px;
	margin:0;
	padding:0;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:0;
	font-size:0;
}
.header .block_1 .search-form input[type="submit"]:hover {
	opacity:0.5;
	filter:alpha(opacity=50);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
.header .logo {
	float:none;
	margin:0;
}
@media (min-width: 768px) and (max-width: 979px) {
	.header .logo { width:100%; }
}
.header .logo .logo_h__txt {
	margin:11px 0 0 0;
	padding:0;
	border:none;
}
.header .logo .logo_h__txt a { text-decoration:none; }
.header .logo .logo_h__txt a:focus {
	text-decoration:none;
	color:#fff;
}
.header .logo .logo_h__txt a:hover {
	text-decoration:none;
	color:#fff;
}
.header .logo .logo_tagline { display:none; }
.header .header_widget_2 {
	float:right;
	margin:19px 0 0 30px;
}
@media (max-width: 767px) {
	.header .header_widget_2 {
		float:none;
		margin:20px 0 0 0;
	}
}
.header .header_widget_2 em { font-style:normal; }
.header .header_widget_2 em a {
	background:#c91919;
	display:inline-block;
	position:relative;
	margin:0;
	padding:14px 67px 16px 17px;
	line-height:22px;
	font-size:17px;
	font-weight:700;
	text-decoration:none;
	color:#fff;
}
.header .header_widget_2 em a:hover { background:#88898b; }
.header .header_widget_2 em a:hover:before {
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
	border-color:#3b3c3e;
}
.header .header_widget_2 em a:before {
	background:url(images/button_item.png) no-repeat 50% 50%;
	display:block;
	width:52px;
	border-left:1px solid #f83232;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	content:'';
}
.header .social-nets-wrapper {
	float:right;
	margin:34px 0 0 0;
}
@media (max-width: 767px) {
	.header .social-nets-wrapper {
		float:none;
		margin:20px 0 0 0;
	}
}
.header .social-nets-wrapper ul {
	margin:0;
	padding:0;
	line-height:0;
	font-size:0;
}
.header .social-nets-wrapper ul li {
	display:inline-block;
	margin:0 0 0 17px;
	padding:0;
	list-style:none;
	vertical-align:top;
}
.header .social-nets-wrapper ul li:first-child { margin:0; }
.header .social-nets-wrapper ul li a {
	display:inline-block;
	vertical-align:top;
}
.header .social-nets-wrapper ul li a:hover:before {
	transform:rotateY(360deg);
	-webkit-transform:rotateY(360deg);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
	color:#fff;
}
.header .social-nets-wrapper ul li a[title="facebook"]:before { content:'\f09a'; }
.header .social-nets-wrapper ul li a[title="twitter"]:before { content:'\f099'; }
.header .social-nets-wrapper ul li a[title="rss"]:before { content:'\f09e'; }
.header .social-nets-wrapper ul li a:before {
	display:inline-block;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	vertical-align:top;
	line-height:24px;
	font-family:FontAwesome;
	font-size:22px;
	color:#88898b;
}
.header .social-nets-wrapper ul li a img { display:none; }
.header .block_2 { margin:20px 0 0 0; }
.header .nav__primary {
	background:#ABC710 url(images/block_bg.gif) repeat 0% 0%;
	position:relative;
	margin:0;
}
@media (max-width: 767px) {
	.header .nav__primary { background:none; }
}
.header .nav__primary.isStuck { z-index:999; }
.header .nav__primary:before {
	background:#ABC710 url(images/block_bg.gif) repeat 0% 0%;
	display:block;
	width:101%;
	position:absolute;
	top:0;
	bottom:0;
	left:-100%;
	z-index:-1;
	content:'';
}
@media (max-width: 767px) {
	.header .nav__primary:before { background:none; }
}
.header .nav__primary:after {
	background:#ABC710 url(images/block_bg.gif) repeat 0% 0%;
	display:block;
	width:10000px;
	position:absolute;
	top:0;
	bottom:0;
	right:-9999px;
	z-index:-1;
	content:'';
}
@media (max-width: 767px) {
	.header .nav__primary:after { background:none; }
}
.header .nav__primary .select-menu { font-size:13px; }
.header .nav__primary .sf-menu {
	float:none;
	line-height:0;
	font-size:0;
}
.header .nav__primary .sf-menu ul {
	background:#3b3c3e;
	width:253px;
}
.header .nav__primary .sf-menu > li {
	background:none;
	display:inline-block;
	float:none;
	vertical-align:top;
}
.header .nav__primary .sf-menu > li > a {
	position:relative;
	padding:15px 20px 19px 20px;
	border:none;
	border-right:1px solid #8AA206;
}
.header .nav__primary .sf-menu > li > a:before {
	background:#e6352b;
	display:block;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	position:absolute;
	top:100%;
	right:0;
	bottom:0;
	left:0;
	z-index:-1;
	content:'';
}
.header .nav__primary .sf-menu > li li { background:url(images/menu_line.png) repeat-x 0% 0%; }
.header .nav__primary .sf-menu > li li:first-child { background:none; }
.header .nav__primary .sf-menu > li li a {
	padding:11px 25px 10px 17px;
	border:none;
	line-height:18px;
	font-size:13px;
	text-align:left;
	text-decoration:none;
	color:#fff;
}
.header .nav__primary .sf-menu > li li .sf-sub-indicator {
	margin:-5px 0 0 0;
	top:50%;
	right:10px;
}
.header .nav__primary ul.sf-menu li li li:hover ul, .header .nav__primary ul.sf-menu li li li.sfHover ul { left:100%; }
.header .nav__primary .sf-menu > li > a:hover, .header .nav__primary .sf-menu > li.sfHover> a, .header .nav__primary .sf-menu > li.current-menu-item > a, .header .nav__primary .sf-menu > li.current_page_item > a { background:none; }
.header .nav__primary .sf-menu > li > a:hover:before, .header .nav__primary .sf-menu > li.sfHover> a:before, .header .nav__primary .sf-menu > li.current-menu-item > a:before, .header .nav__primary .sf-menu > li.current_page_item > a:before {
	top:0;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
.header .nav__primary .sf-menu li li > a:hover, .header .nav__primary .sf-menu li li.sfHover > a, .header .nav__primary .sf-menu li li.current-menu-item > a, .header .nav__primary .sf-menu li li.current_page_item > a {
	background:none;
	color:#e21010;
}
.header .nav__primary .sf-sub-indicator {
	margin:0 -5px 0 0;
	top:40px;
	right:50%;
}
.content-holder {
	background:#fff;
	margin:0;
	padding:21px 0 40px 0;
}
@media (max-width: 767px) {
	.content-holder { padding:20px 20px 20px 20px; }
}
body.home .content-holder { padding:21px 0 27px 0; }
@media (max-width: 767px) {
	body.home .content-holder { padding:21px 20px 27px 20px; }
}
@media (min-width: 980px) and (max-width: 1200px) {
	.content-holder .search-form input[type="text"] { width:170px; }
}
html.ie8 .content-holder .search-form input[type="text"] { width:170px; }
@media (min-width: 768px) and (max-width: 979px) {
	.content-holder .search-form input[type="text"] { width:110px; }
}
@media (max-width: 480px) {
	.content-holder .search-form input[type="text"] { width:150px; }
}
.content-holder .search-form input[type="submit"] {
	height:41px;
	margin:0 0 0 10px;
}
#sidebar h3 { margin:0 0 5px 0; }
#sidebar ul {
	margin:0;
	padding:0;
}
#sidebar ul li {
	margin:9px 0 0 0;
	padding:0;
	list-style:none;
	line-height:18px;
	font-size:13px;
	color:#868991;
}
#sidebar ul li:first-child { margin:0; }
#sidebar ul li a {
	text-decoration:none;
	color:#868991;
}
#sidebar ul li a:focus {
	text-decoration:none;
	color:#868991;
}
#sidebar ul li a:hover {
	text-decoration:none;
	color:#d81c1c;
}
#sidebar ul li ul { padding:9px 0 0 9px; }
#sidebar ul.post-list { padding:4px 0 0 0; }
#sidebar ul.post-list li {
	padding:20px 0 12px 0;
	border-top:1px solid #ccced4;
	line-height:16px;
	font-size:10px;
}
@media (max-width: 767px) {
	#sidebar ul.post-list li {
		width:100%;
		overflow:hidden;
	}
}
#sidebar ul.post-list li:first-child {
	margin:0;
	padding-top:0;
	border:none;
}
#sidebar ul.post-list li:last-child {
	margin:0;
	padding-top:0;
	border:none;
}
#sidebar ul.post-list li .thumbnail {
	float:none;
	margin:0 0 12px 0;
}
@media (max-width: 767px) {
	#sidebar ul.post-list li .thumbnail {
		float:left;
		max-width:50%;
		margin:3px 20px 3px 0;
	}
}
#sidebar ul.post-list li .post-list_comment:before {
	margin:0 3px 0 1px;
	line-height:16px;
	font-size:10px;
	content:'/';
}
#sidebar ul.post-list li h4 {
	margin:11px 0 7px 0;
	line-height:19px;
	font-size:14px;
	color:#333436;
}
#sidebar ul.post-list li h4 a {
	text-decoration:none;
	color:#333436;
}
#sidebar ul.post-list li h4 a:focus {
	text-decoration:none;
	color:#333436;
}
#sidebar ul.post-list li h4 a:hover {
	text-decoration:none;
	color:#d81c1c;
}
#sidebar ul.post-list li .excerpt {
	margin:0 0 9px 0;
	line-height:19px;
	font-size:13px;
}
#sidebar ul.post-list li .btn-primary { margin:0 !important; }
#sidebar #wp-calendar caption { color:#333436; }
#sidebar #wp-calendar thead tr th { color:#333436; }
.list_1 {
	margin:0 0 10px -1px;
	padding:8px 0 0 0;
	line-height:0;
	font-size:0;
}
@media (max-width: 767px) {
	.list_1 { margin:0 0 10px 0; }
}
.list_1 li {
	position:relative;
	float:left;
	width:256px;
	margin:0 0 1px 1px;
	vertical-align:top;
	list-style:none;
	line-height:19px;
	font-size:14px;
	font-weight:700;
	color:#fff;
}
@media (min-width: 980px) and (max-width: 1200px) {
	.list_1 li { width:206px; }
}
html.ie8 .list_1 li { width:206px; }
@media (min-width: 768px) and (max-width: 979px) {
	.list_1 li { width:158px; }
}
@media (max-width: 767px) {
	.list_1 li {
		float:none;
		width:100%;
		margin:0 0 1px 0;
	}
}
.list_1 li:first-child { width:513px; }
@media (min-width: 980px) and (max-width: 1200px) {
	.list_1 li:first-child { width:413px; }
}
html.ie8 .list_1 li:first-child { width:413px; }
@media (min-width: 768px) and (max-width: 979px) {
	.list_1 li:first-child { width:317px; }
}
@media (max-width: 767px) {
	.list_1 li:first-child { width:100%; }
}
.list_1 li:first-child .post_content h2 {
	margin:0 0 2px 0;
	line-height:35px;
	font-size:34px;
}
html.ie8 .list_1 li:first-child .post_content h2 {
	line-height:33px;
	font-size:32px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.list_1 li:first-child .post_content h2 {
		max-height:48px;
		overflow:hidden;
		line-height:24px;
		font-size:18px;
		font-weight:400;
	}
}
@media (max-width: 480px) {
	.list_1 li:first-child .post_content h2 {
		line-height:21px;
		font-size:20px;
	}
}
.list_1 li .thumbnail {
	width:100%;
	height:auto;
	margin:0;
	padding:0;
}
html.ie8 .list_1 li .thumbnail { background:none; }
.list_1 li .thumbnail a:before {
	background:url(images/post_content.png) repeat-x 50% 100%;
	display:block;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	content:'';
}
html.ie8 .list_1 li .thumbnail a img {
	position:relative;
	z-index:-1;
}
@media (max-width: 767px) {
	.list_1 li .thumbnail a img {
		width:100%;
		height:auto;
	}
}
.list_1 li .post_category {
	position:absolute;
	top:0;
	left:0;
}
.list_1 li .post_category a {
	background:#E6352B;
	display:block;
	padding:3px 10px 7px 10px;
	line-height:25px;
	font-size:19px;
	font-weight:700;
	color:#fff;
	text-decoration:none;
	color:#fff;
}
@media (min-width: 768px) and (max-width: 979px) {
	.list_1 li .post_category a {
		line-height:21px;
		font-size:15px;
	}
}
.list_1 li .post_category a:focus {
	background:#E6352B;
	text-decoration:none;
	color:#fff;
}
.list_1 li .post_category a:hover {
	background:#ABC710;
	text-decoration:none;
	color:#fff;
}
.list_1 li .post_content {
	margin:0;
	padding:0;
	position:absolute;
	right:8px;
	bottom:6px;
	left:8px;
}
.list_1 li .post_content h2 {
	margin:0 0 -4px 0;
	padding:0;
	border:none;
	line-height:19px;
	font-size:14px;
	text-decoration:none;
	color:#fff;
}
html.ie8 .list_1 li .post_content h2 {
	line-height:16px;
	font-size:12px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.list_1 li .post_content h2 {
		max-height:32px;
		overflow:hidden;
		line-height:16px;
		font-size:12px;
		font-weight:400;
	}
}
@media (max-width: 767px) {
	.list_1 li .post_content h2 {
		margin:0 0 2px 0;
		line-height:35px;
		font-size:34px;
	}
}
@media (max-width: 480px) {
	.list_1 li .post_content h2 {
		line-height:21px;
		font-size:20px;
	}
}
.list_1 li .post_content h2 a {
	text-decoration:none;
	color:#fff;
}
.list_1 li .post_content h2 a:focus {
	text-decoration:none;
	color:#fff;
}
.list_1 li .post_content h2 a:hover {
	text-decoration:underline;
	color:#fff;
}
.list_1 li .post_content .post_date {
	margin:0 15px 0 0;
	line-height:16px;
	font-size:10px;
	font-weight:400;
	color:#fff;
}
@media (min-width: 768px) and (max-width: 979px) {
	.list_1 li .post_content .post_date { margin:0 9px 0 0; }
}
.list_1 li .post_content .post_date:before {
	margin:0 5px 0 0;
	font-family:FontAwesome;
	font-size:10px;
	content:'\f017';
}
.list_1 li .post_content .post-views {
	float:none;
	line-height:16px;
	font-size:10px;
	font-weight:400;
	color:#fff;
    margin-left: 5px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.list_1 li .post_content .post-views { display:none; }
}

.list_1 li .post_content .post-views:before {
	margin:0 5px 0 0;
	line-height:16px;
	font-family:FontAwesome;
	font-size:15px;
	content:'\f06e';
}

.list_1 li .post_content .post_comment {
	line-height:16px;
	font-size:10px;
	font-weight:400;
	color:#fff;
}
@media (min-width: 768px) and (max-width: 979px) {
	.list_1 li .post_content .post_comment { display:none; }
}
.list_1 li .post_content .post_comment:before {
	margin:0 5px 0 0;
	font-family:FontAwesome;
	font-size:13px;
	content:'\f075';
}
.list_1 li .post_content .post_comment a {
	text-decoration:none;
	color:#fff;
}
.list_1 li .post_content .post_comment a:focus {
	text-decoration:none;
	color:#fff;
}
.list_1 li .post_content .post_comment a:hover {
	text-decoration:underline;
	color:#fff;
}
ul.list_2 { margin:0 0 40px 0 !important; }
ul.list_2 li {
	float:none !important;
	width:100% !important;
	overflow:hidden;
	margin:0;
	padding:5px 0 5px 0;
	list-style:none;
	border-bottom:1px solid #ccced4;
	border-top:none !important;
}
ul.list_2 li:first-child {
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:1px solid #ccced4;
}
@media (min-width: 1200px) {
	ul.list_2 li:first-child .excerpt { max-height:76px; }
}
ul.list_2 li:last-child {
	padding-top:5px;
	border-bottom:none;
}
ul.list_2 li.format-video .thumbnail { position:relative; }
ul.list_2 li.format-video .thumbnail a:hover:before {
	background:#ABC710;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_2 li.format-video .thumbnail a:hover:after {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_2 li.format-video .thumbnail a:before {
	background:#E6352B;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:18px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'';
}
ul.list_2 li.format-video .thumbnail a:after {
	background:none;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:18px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'\f01d';
}
ul.list_2 li.format-image .thumbnail { position:relative; }
ul.list_2 li.format-image .thumbnail a:hover:before {
	background:#ABC710;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_2 li.format-image .thumbnail a:hover:after {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_2 li.format-image .thumbnail a:before {
	background:#E6352B;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:16px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'';
}
ul.list_2 li.format-image .thumbnail a:after {
	background:none;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:16px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'\f030';
}
ul.list_2 li.format-audio .thumbnail { position:relative; }
ul.list_2 li.format-audio .thumbnail a:hover:before {
	background:#ABC710;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_2 li.format-audio .thumbnail a:hover:after {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_2 li.format-audio .thumbnail a:before {
	background:#E6352B;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:16px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'';
}
ul.list_2 li.format-audio .thumbnail a:after {
	background:none;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:16px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'\f028';
}
ul.list_2 li.format-gallery .thumbnail { position:relative; }
ul.list_2 li.format-gallery .thumbnail a:hover:before {
	background:#ABC710;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_2 li.format-gallery .thumbnail a:hover:after {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_2 li.format-gallery .thumbnail a:before {
	background:#E6352B;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:16px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'';
}
ul.list_2 li.format-gallery .thumbnail a:after {
	background:none;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:16px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'\f03e';
}
ul.list_2 li.format-gallery .thumbnail { position:relative; }
ul.list_2 li.format-gallery .thumbnail a:hover:before {
	background:#ABC710;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_2 li.format-gallery .thumbnail a:hover:after {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_2 li.format-gallery .thumbnail a:before {
	background:#E6352B;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:16px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'';
}
ul.list_2 li.format-gallery .thumbnail a:after {
	background:none;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:16px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'\f03e';
}
ul.list_2 li.format-standard .thumbnail { position:relative; }
ul.list_2 li.format-standard .thumbnail a:hover:before {
	background:#ABC710;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_2 li.format-standard .thumbnail a:hover:after {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_2 li.format-standard .thumbnail a:before {
	background:#E6352B;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:18px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'';
}
ul.list_2 li.format-standard .thumbnail a:after {
	background:none;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:18px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'\f0f6';
}
ul.list_2 li .thumbnail {
	float:left;
	margin:6px 9px 6px 0;
}
@media (min-width: 1200px) {
	ul.list_2 li .inner { overflow:hidden; }
}
ul.list_2 li .post_category {
	display:block;
	margin:0 0 -1px 0;
	line-height:20px;
	font-size:13px;
	font-weight:700;
	color:#d81c1c;
}
ul.list_2 li .post_category a {
	text-decoration:none;
	color:#d81c1c;
}
ul.list_2 li .post_category a:focus {
	text-decoration:none;
	color:#d81c1c;
}
ul.list_2 li .post_category a:hover {
	text-decoration:none;
	color:#333436;
}
ul.list_2 li h5 { margin:0 0 2px 0; }
ul.list_2 li .excerpt { margin:0 0 6px 0; }
@media (min-width: 1200px) {
	ul.list_2 li .excerpt {
		max-height:38px;
		overflow:hidden;
	}
}
ul.list_2 li .excerpt a {
	text-decoration:none;
	color:#868991;
}
ul.list_2 li .excerpt a:focus {
	text-decoration:none;
	color:#868991;
}
ul.list_2 li .excerpt a:hover {
	text-decoration:none;
	color:#333436;
}
ul.list_2 li .meta {
	overflow:visible;
	margin:0;
	padding:0 0 0 1px;
	line-height:16px;
	font-size:10px;
}
ul.list_2 li .meta .post-date {
	margin:0 15px 0 0;
	line-height:16px;
	font-size:10px;
	font-weight:400;
	text-transform:none;
	color:#9b9ea5;
}
ul.list_2 li .meta .post-date:before {
	margin:0 5px 0 0;
	font-family:FontAwesome;
	font-size:10px;
	content:'\f017';
}
ul.list_2 li .meta .post-comments {
	float:none;
	line-height:16px;
	font-size:10px;
	font-weight:400;
	color:#9b9ea5;
}
ul.list_2 li .meta .post-comments:before {
	margin:0 5px 0 0;
	line-height:16px;
	font-family:FontAwesome;
	font-size:13px;
	content:'\f075';
}
ul.list_2 li .meta .post-comments a {
	line-height:16px;
	text-decoration:none;
	color:#9b9ea5;
}
ul.list_2 li .meta .post-comments a:focus {
	text-decoration:none;
	color:#9b9ea5;
}
ul.list_2 li .meta .post-comments a:hover {
	text-decoration:underline;
	color:#9b9ea5;
}
ul.list_3 { margin:0 0 22px 0 !important; }
ul.list_3 li {
	float:none !important;
	width:100% !important;
	overflow:hidden;
	margin:0;
	padding:4px 0 4px 0;
	list-style:none;
	border-bottom:1px solid #ccced4;
	border-top:none !important;
}
ul.list_3 li:last-child { border-bottom:none; }
ul.list_3 li:first-child { padding-top:0; }
ul.list_3 li.format-video .thumbnail { position:relative; }
ul.list_3 li.format-video .thumbnail a:hover:before {
	background:#323335;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_3 li.format-video .thumbnail a:hover:after {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_3 li.format-video .thumbnail a:before {
	background:#d81c1c;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:19px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'';
}
ul.list_3 li.format-video .thumbnail a:after {
	background:none;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:19px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'\f01d';
}
ul.list_3 li .thumbnail {
	float:left;
	max-width:50%;
	margin:6px 9px 6px 0;
}
@media (max-width: 767px) {
	ul.list_3 li .thumbnail { margin:6px 9px 3px 0; }
}
@media (min-width: 1200px) {
	ul.list_3 li .inner { overflow:hidden; }
}
ul.list_3 li h5 { margin:0 0 2px 0; }
ul.list_3 li .post_category {
	display:block;
	margin:0 0 -1px 0;
	line-height:20px;
	font-size:13px;
	font-weight:700;
	color:#d81c1c;
}
ul.list_3 li .post_category a {
	text-decoration:none;
	color:#d81c1c;
}
ul.list_3 li .post_category a:focus {
	text-decoration:none;
	color:#d81c1c;
}
ul.list_3 li .post_category a:hover {
	text-decoration:none;
	color:#333436;
}
ul.list_3 li .excerpt {
	display:none;
	margin:0 0 6px 0;
	color:#333436;
}
@media (min-width: 1200px) {
	ul.list_3 li .excerpt {
		max-height:38px;
		overflow:hidden;
	}
}
ul.list_3 li .excerpt a {
	text-decoration:none;
	color:#333436;
}
ul.list_3 li .excerpt a:focus {
	text-decoration:none;
	color:#333436;
}
ul.list_3 li .excerpt a:hover {
	text-decoration:none;
	color:#d81c1c;
}
ul.list_3 li .meta {
	overflow:visible;
	margin:0;
	padding:0 0 0 1px;
	line-height:16px;
	font-size:10px;
}
ul.list_3 li .meta .post-date {
	margin:0 15px 0 0;
	line-height:16px;
	font-size:10px;
	font-weight:400;
	text-transform:none;
	color:#9b9ea5;
}
ul.list_3 li .meta .post-date:before {
	margin:0 5px 0 0;
	font-family:FontAwesome;
	font-size:10px;
	content:'\f017';
}
ul.list_3 li .meta .post-views {
	float:none;
	line-height:16px;
	font-size:10px;
	font-weight:400;
	color:#9b9ea5;
    margin-left: 5px;
}
ul.list_3 li .meta .post-views:before {
	margin:0 5px 0 0;
	line-height:16px;
	font-family:FontAwesome;
	font-size:15px;
	content:'\f06e';
}

ul.list_3 li .meta .post-comments {
	float:none;
	line-height:16px;
	font-size:10px;
	font-weight:400;
	color:#9b9ea5;
}
ul.list_3 li .meta .post-comments:before {
	margin:0 5px 0 0;
	line-height:16px;
	font-family:FontAwesome;
	font-size:13px;
	content:'\f075';
}
ul.list_3 li .meta .post-comments a {
	line-height:16px;
	text-decoration:none;
	color:#9b9ea5;
}
ul.list_3 li .meta .post-comments a:focus {
	text-decoration:none;
	color:#9b9ea5;
}
ul.list_3 li .meta .post-comments a:hover {
	text-decoration:underline;
	color:#9b9ea5;
}
ul.list_4 { margin:0 0 40px 0 !important; }
ul.list_4 li {
	float:none !important;
	width:100% !important;
	overflow:hidden;
	margin:0;
	padding:5px 0 6px 0;
	list-style:none;
	border-bottom:1px solid #ccced4;
	border-top:none !important;
}
ul.list_4 li:first-child { padding-top:0; }
@media (min-width: 1200px) {
	ul.list_4 li:first-child .excerpt { max-height:76px; }
}
ul.list_4 li:last-child {
	padding-top:0;
	border-bottom:none;
}
ul.list_4 li.format-video .thumbnail { position:relative; }
ul.list_4 li.format-video .thumbnail a:hover:before {
	background:#ABC710;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_4 li.format-video .thumbnail a:hover:after {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_4 li.format-video .thumbnail a:before {
	background:#E6352B;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:18px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'';
}
ul.list_4 li.format-video .thumbnail a:after {
	background:none;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:18px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'\f01d';
}
ul.list_4 li.format-image .thumbnail { position:relative; }
ul.list_4 li.format-image .thumbnail a:hover:before {
	background:#ABC710;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_4 li.format-image .thumbnail a:hover:after {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_4 li.format-image .thumbnail a:before {
	background:#E6352B;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:16px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'';
}
ul.list_4 li.format-image .thumbnail a:after {
	background:none;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:16px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'\f030';
}
ul.list_4 li.format-audio .thumbnail { position:relative; }
ul.list_4 li.format-audio .thumbnail a:hover:before {
	background:#ABC710;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_4 li.format-audio .thumbnail a:hover:after {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_4 li.format-audio .thumbnail a:before {
	background:#E6352B;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:16px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'';
}
ul.list_4 li.format-audio .thumbnail a:after {
	background:none;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:16px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'\f028';
}
ul.list_4 li.format-gallery .thumbnail { position:relative; }
ul.list_4 li.format-gallery .thumbnail a:hover:before {
	background:#ABC710;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_4 li.format-gallery .thumbnail a:hover:after {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_4 li.format-gallery .thumbnail a:before {
	background:#E6352B;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:16px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'';
}
ul.list_4 li.format-gallery .thumbnail a:after {
	background:none;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:16px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'\f03e';
}
ul.list_4 li.format-standard .thumbnail { position:relative; }
ul.list_4 li.format-standard .thumbnail a:hover:before {
	background:#ABC710;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_4 li.format-standard .thumbnail a:hover:after {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_4 li.format-standard .thumbnail a:before {
	background:#E6352B;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:18px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'';
}
ul.list_4 li.format-standard .thumbnail a:after {
	background:none;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:18px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'\f0f6';
}
ul.list_4 li .thumbnail {
	float:left;
	margin:6px 9px 6px 0;
}
@media (min-width: 1px) and (max-width: 399px) {
	ul.list_4 li .thumbnail { display:none; }
}
@media (min-width: 1200px) {
	ul.list_4 li .inner { overflow:hidden; }
}
ul.list_4 li .post_category {
	display:none;
	margin:0 0 -1px 0;
	line-height:20px;
	font-size:13px;
	font-weight:700;
	color:#d81c1c;
}
ul.list_4 li .post_category a {
	text-decoration:none;
	color:#d81c1c;
}
ul.list_4 li .post_category a:focus {
	text-decoration:none;
	color:#d81c1c;
}
ul.list_4 li .post_category a:hover {
	text-decoration:none;
	color:#333436;
}
ul.list_4 li h5 { margin:0 0 2px 0; }
ul.list_4 li .excerpt {
	display:block;
	margin:0 0 6px 0;
}
@media (min-width: 1200px) {
	ul.list_4 li .excerpt {
		max-height:38px;
		overflow:hidden;
	}
}
ul.list_4 li .excerpt a {
	text-decoration:none;
	color:#868991;
}
ul.list_4 li .excerpt a:focus {
	text-decoration:none;
	color:#868991;
}
ul.list_4 li .excerpt a:hover {
	text-decoration:none;
	color:#333436;
}
ul.list_4 li .meta {
	display:block;
	overflow:visible;
	margin:0;
	padding:0 0 0 1px;
	line-height:16px;
	font-size:10px;
    clear: both;
}
ul.list_4 li .meta .post-date {
	margin:0 15px 0 0;
	line-height:16px;
	font-size:10px;
	font-weight:400;
	text-transform:none;
	color:#9b9ea5;
}
ul.list_4 li .meta .post-date:before {
	margin:0 5px 0 0;
	font-family:FontAwesome;
	font-size:10px;
	content:'\f017';
}
ul.list_4 li .meta .post-views {
	float:none;
	line-height:16px;
	font-size:10px;
	font-weight:400;
	color:#9b9ea5;
    margin-left: 5px;
}
ul.list_4 li .meta .post-views:before {
	margin:0 5px 0 0;
	line-height:16px;
	font-family:FontAwesome;
	font-size:15px;
	content:'\f06e';
}
ul.list_4 li .meta .post-comments {
	float:none;
	line-height:16px;
	font-size:10px;
	font-weight:400;
	color:#9b9ea5;
}
ul.list_4 li .meta .post-comments:before {
	margin:0 5px 0 0;
	line-height:16px;
	font-family:FontAwesome;
	font-size:13px;
	content:'\f075';
}
ul.list_4 li .meta .post-comments a {
	line-height:16px;
	text-decoration:none;
	color:#9b9ea5;
}
ul.list_4 li .meta .post-comments a:focus {
	text-decoration:none;
	color:#9b9ea5;
}
ul.list_4 li .meta .post-comments a:hover {
	text-decoration:underline;
	color:#9b9ea5;
}
ul.list_5 { margin:0 0 10px 0 !important; }
ul.list_5 li {
	float:none !important;
	width:100% !important;
	overflow:hidden;
	margin:0;
	padding:5px 0 6px 0;
	list-style:none;
	border-bottom:1px solid #ccced4;
	border-top:none !important;
}
ul.list_5 li:first-child { padding-top:0; }
@media (min-width: 1200px) {
	ul.list_5 li:first-child .excerpt { max-height:76px; }
}
ul.list_5 li.format-video .thumbnail { position:relative; }
ul.list_5 li.format-video .thumbnail a:hover:before {
	background:#323335;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_5 li.format-video .thumbnail a:hover:after {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_5 li.format-video .thumbnail a:before {
	background:#d81c1c;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:19px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'';
}
ul.list_5 li.format-video .thumbnail a:after {
	background:none;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:19px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'\f01d';
}
ul.list_5 li .thumbnail {
	float:left;
	margin:6px 9px 6px 0;
}
@media (min-width: 1200px) {
	ul.list_5 li .inner { overflow:hidden; }
}
ul.list_5 li .post_category {
	display:none;
	margin:0 0 -1px 0;
	line-height:20px;
	font-size:13px;
	font-weight:700;
	color:#d81c1c;
}
ul.list_5 li .post_category a {
	text-decoration:none;
	color:#d81c1c;
}
ul.list_5 li .post_category a:focus {
	text-decoration:none;
	color:#d81c1c;
}
ul.list_5 li .post_category a:hover {
	text-decoration:none;
	color:#333436;
}
ul.list_5 li h5 { margin:0 0 2px 0; }
ul.list_5 li .excerpt { margin:0 0 6px 0; }
@media (min-width: 1200px) {
	ul.list_5 li .excerpt {
		max-height:38px;
		overflow:hidden;
	}
}
ul.list_5 li .excerpt a {
	text-decoration:none;
	color:#868991;
}
ul.list_5 li .excerpt a:focus {
	text-decoration:none;
	color:#868991;
}
ul.list_5 li .excerpt a:hover {
	text-decoration:none;
	color:#d81c1c;
}
ul.list_5 li .meta {
	overflow:visible;
	margin:0;
	padding:0 0 0 1px;
	line-height:16px;
	font-size:10px;
}
ul.list_5 li .meta .post-date {
	margin:0 15px 0 0;
	line-height:16px;
	font-size:10px;
	font-weight:400;
	text-transform:none;
	color:#9b9ea5;
}
ul.list_5 li .meta .post-date:before {
	margin:0 5px 0 0;
	font-family:FontAwesome;
	font-size:10px;
	content:'\f017';
}
ul.list_5 li .meta .post-comments {
	float:none;
	line-height:16px;
	font-size:10px;
	font-weight:400;
	color:#9b9ea5;
}
ul.list_5 li .meta .post-comments:before {
	margin:0 5px 0 0;
	line-height:16px;
	font-family:FontAwesome;
	font-size:13px;
	content:'\f075';
}
ul.list_5 li .meta .post-comments a {
	line-height:16px;
	text-decoration:none;
	color:#9b9ea5;
}
ul.list_5 li .meta .post-comments a:focus {
	text-decoration:none;
	color:#9b9ea5;
}
ul.list_5 li .meta .post-comments a:hover {
	text-decoration:underline;
	color:#9b9ea5;
}
ul.list_6 { margin:0 0 10px 0 !important; }
ul.list_6 li {
	float:none !important;
	width:100% !important;
	overflow:hidden;
	margin:0;
	padding:5px 0 6px 0;
	list-style:none;
	border-bottom:1px solid #ccced4;
	border-top:none !important;
}
ul.list_6 li:first-child { padding-top:0; }
@media (min-width: 1200px) {
	ul.list_6 li:first-child .excerpt { max-height:76px; }
}
ul.list_6 li.format-video .thumbnail { position:relative; }
ul.list_6 li.format-video .thumbnail a:hover:before {
	background:#323335;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_6 li.format-video .thumbnail a:hover:after {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_6 li.format-video .thumbnail a:before {
	background:#d81c1c;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:19px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'';
}
ul.list_6 li.format-video .thumbnail a:after {
	background:none;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:19px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'\f01d';
}
ul.list_6 li .thumbnail {
	max-width:50%;
	float:left;
	margin:6px 9px 6px 0;
}
@media (max-width: 767px) {
	ul.list_6 li .thumbnail { margin:3px 9px 3px 0; }
}
@media (min-width: 1200px) {
	ul.list_6 li .inner { overflow:hidden; }
}
ul.list_6 li .post_category {
	display:none;
	margin:0 0 -1px 0;
	line-height:20px;
	font-size:13px;
	font-weight:700;
	color:#d81c1c;
}
ul.list_6 li .post_category a {
	text-decoration:none;
	color:#d81c1c;
}
ul.list_6 li .post_category a:focus {
	text-decoration:none;
	color:#d81c1c;
}
ul.list_6 li .post_category a:hover {
	text-decoration:none;
	color:#333436;
}
ul.list_6 li h5 {
	display:none;
	margin:0 0 2px 0;
}
ul.list_6 li .excerpt { margin:0 0 6px 0; }
@media (min-width: 1200px) {
	ul.list_6 li .excerpt {
		max-height:38px;
		overflow:hidden;
	}
}
ul.list_6 li .excerpt a {
	text-decoration:none;
	color:#333436;
}
ul.list_6 li .excerpt a:focus {
	text-decoration:none;
	color:#333436;
}
ul.list_6 li .excerpt a:hover {
	text-decoration:none;
	color:#d81c1c;
}
ul.list_6 li .meta {
	overflow:visible;
	margin:0;
	padding:0 0 0 1px;
	line-height:16px;
	font-size:10px;
}
ul.list_6 li .meta .post-date {
	margin:0 15px 0 0;
	line-height:16px;
	font-size:10px;
	font-weight:400;
	text-transform:none;
	color:#9b9ea5;
}
ul.list_6 li .meta .post-date:before {
	margin:0 5px 0 0;
	font-family:FontAwesome;
	font-size:10px;
	content:'\f017';
}
ul.list_6 li .meta .post-comments {
	float:none;
	line-height:16px;
	font-size:10px;
	font-weight:400;
	color:#9b9ea5;
}
ul.list_6 li .meta .post-comments:before {
	margin:0 5px 0 0;
	line-height:16px;
	font-family:FontAwesome;
	font-size:13px;
	content:'\f075';
}
ul.list_6 li .meta .post-comments a {
	line-height:16px;
	text-decoration:none;
	color:#9b9ea5;
}
ul.list_6 li .meta .post-comments a:focus {
	text-decoration:none;
	color:#9b9ea5;
}
ul.list_6 li .meta .post-comments a:hover {
	text-decoration:underline;
	color:#9b9ea5;
}
ul.list_7 { margin:0 0 12px 0 !important; }
ul.list_7 li {
	float:none !important;
	width:100% !important;
	overflow:hidden;
	margin:0;
	padding:4px 0 5px 0;
	list-style:none;
	border-bottom:1px solid #ccced4;
	border-top:none !important;
}
ul.list_7 li:first-child { padding-top:0; }
@media (min-width: 1200px) {
	ul.list_7 li:first-child .excerpt { max-height:76px; }
}
ul.list_7 li.format-video .thumbnail { position:relative; }
ul.list_7 li.format-video .thumbnail a:hover:before {
	background:#323335;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_7 li.format-video .thumbnail a:hover:after {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
ul.list_7 li.format-video .thumbnail a:before {
	background:#d81c1c;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:19px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'';
}
ul.list_7 li.format-video .thumbnail a:after {
	background:none;
	position:absolute;
	width:30px;
	height:30px;
	overflow:hidden;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:19px;
	text-align:center;
	color:#fff;
	right:0;
	bottom:0;
	content:'\f01d';
}
ul.list_7 li .thumbnail {
	float:left;
	margin:6px 9px 6px 0;
}
@media (min-width: 1200px) {
	ul.list_7 li .inner { overflow:hidden; }
}
ul.list_7 li .post_category {
	display:none;
	margin:0 0 -1px 0;
	line-height:20px;
	font-size:13px;
	font-weight:700;
	color:#d81c1c;
}
ul.list_7 li .post_category a {
	text-decoration:none;
	color:#d81c1c;
}
ul.list_7 li .post_category a:focus {
	text-decoration:none;
	color:#d81c1c;
}
ul.list_7 li .post_category a:hover {
	text-decoration:none;
	color:#333436;
}
ul.list_7 li h5 { margin:0 0 2px 0; }
ul.list_7 li .excerpt { margin:0 0 6px 0; }
@media (min-width: 1200px) {
	ul.list_7 li .excerpt {
		max-height:38px;
		overflow:hidden;
	}
}
ul.list_7 li .excerpt a {
	text-decoration:none;
	color:#868991;
}
ul.list_7 li .excerpt a:focus {
	text-decoration:none;
	color:#868991;
}
ul.list_7 li .excerpt a:hover {
	text-decoration:none;
	color:#333436;
}
ul.list_7 li .meta {
	overflow:visible;
	margin:0;
	padding:0 0 0 1px;
	line-height:16px;
	font-size:10px;
}
ul.list_7 li .meta .post-date {
	margin:0 15px 0 0;
	line-height:16px;
	font-size:10px;
	font-weight:400;
	text-transform:none;
	color:#9b9ea5;
}
ul.list_7 li .meta .post-date:before {
	margin:0 5px 0 0;
	font-family:FontAwesome;
	font-size:10px;
	content:'\f017';
}
ul.list_7 li .meta .post-comments {
	float:none;
	line-height:16px;
	font-size:10px;
	font-weight:400;
	color:#9b9ea5;
}
ul.list_7 li .meta .post-comments:before {
	margin:0 5px 0 0;
	line-height:16px;
	font-family:FontAwesome;
	font-size:13px;
	content:'\f075';
}
ul.list_7 li .meta .post-comments a {
	line-height:16px;
	text-decoration:none;
	color:#9b9ea5;
}
ul.list_7 li .meta .post-comments a:focus {
	text-decoration:none;
	color:#9b9ea5;
}
ul.list_7 li .meta .post-comments a:hover {
	text-decoration:underline;
	color:#9b9ea5;
}
.list_8 {
	margin:0 0 10px 0;
	padding:6px 0 5px 0;
	border-bottom:1px solid #ccced4;
	border-top:none !important;
}
.list_8 li { margin-bottom:0; }
@media (max-width: 767px) {
	.list_8 li {
		width:100%;
		overflow:hidden;
		padding:10px 0;
	}
}
.list_8 li .thumbnail { margin:0 0 12px 0; }
@media (max-width: 767px) {
	.list_8 li .thumbnail {
		float:left;
		max-width:50%;
		margin:3px 20px 3px 0;
	}
}
@media (max-width: 767px) {
	.list_8 li .clear { display:none; }
}
.list_8 li h5 { margin:0 0 1px 0; }
.list_8 li .excerpt { margin:0; }
.list_8 li .post_meta {
	overflow:hidden;
	margin:0;
	padding:0 0 0 1px;
	border:none;
}
.list_8 li .post_meta .post_date {
	margin:0 15px 0 0;
	line-height:16px;
	font-size:10px;
	font-weight:400;
	text-transform:none;
	color:#9b9ea5;
}
.list_8 li .post_meta .post_date:before {
	margin:0 5px 0 0;
	font-family:FontAwesome;
	font-size:10px;
	content:'\f017';
}
.list_8 li .post_meta .post_comment {
	float:none;
	line-height:16px;
	font-size:10px;
	font-weight:400;
	color:#9b9ea5;
}
.list_8 li .post_meta .post_comment:before {
	margin:0 5px 0 0;
	line-height:16px;
	font-family:FontAwesome;
	font-size:13px;
	content:'\f075';
}
.list_8 li .post_meta .post_comment a {
	line-height:16px;
	text-decoration:none;
	color:#9b9ea5;
}
.list_8 li .post_meta .post_comment a:focus {
	text-decoration:none;
	color:#9b9ea5;
}
.list_8 li .post_meta .post_comment a:hover {
	text-decoration:underline;
	color:#9b9ea5;
}
ul.list_9 {
	margin:0 0 19px 0;
	padding:0;
}
ul.list_9 li {
	width:auto !important;
	height:auto !important;
	margin:0;
	padding:5px 0 7px 0 !important;
	list-style:none;
	border:none !important;
	border-bottom:1px solid #ccced4 !important;
	border-top:none !important;
	line-height:19px;
	font-size:13px;
	color:#333436;
}
ul.list_9 li:first-child { padding-top:0 !important; }
ul.list_9 li:last-child { border-bottom:none !important; }
ul.list_9 li.format-video .mini-post-meta .post_icon:before { content:'\f03d'; }
ul.list_9 li.format-image .mini-post-meta .post_icon:before { content:'\f030'; }
ul.list_9 li .thumbnail { display:none; }
ul.list_9 li .post_category {
	display:block;
	margin:0 0 -1px 0;
	line-height:20px;
	font-size:13px;
	font-weight:700;
	color:#d81c1c;
}
ul.list_9 li .post_category a {
	text-decoration:none;
	color:#d81c1c;
}
ul.list_9 li .post_category a:focus {
	text-decoration:none;
	color:#d81c1c;
}
ul.list_9 li .post_category a:hover {
	text-decoration:none;
	color:#333436;
}
ul.list_9 li .excerpt { margin:0 0 3px 0; }
ul.list_9 li .excerpt a {
	text-decoration:none;
	color:#333436;
}
ul.list_9 li .excerpt a:focus {
	text-decoration:none;
	color:#333436;
}
ul.list_9 li .excerpt a:hover {
	text-decoration:none;
	color:#d81c1c;
}
ul.list_9 li .mini-post-meta {
	overflow:hidden;
	padding:0 0 0 1px;
}
ul.list_9 li .mini-post-meta .post_icon:before {
	display:inline-block;
	margin:2px 12px 0 0;
	vertical-align:top;
	line-height:16px;
	font-family:FontAwesome;
	font-size:13px;
	color:#d81c1c;
	content:'\f14c';
}
ul.list_9 li .mini-post-meta time {
	margin:0 15px 0 0;
	line-height:16px;
	font-size:10px;
	font-weight:400;
	text-transform:none;
	color:#9b9ea5;
}
ul.list_9 li .mini-post-meta time:before {
	margin:0 5px 0 0;
	font-family:FontAwesome;
	font-size:10px;
	content:'\f017';
}
ul.list_9 li .mini-post-meta .post-comments {
	float:none;
	line-height:16px;
	font-size:10px;
	font-weight:400;
	color:#9b9ea5;
}
ul.list_9 li .mini-post-meta .post-comments:before {
	margin:0 5px 0 0;
	line-height:16px;
	font-family:FontAwesome;
	font-size:13px;
	content:'\f075';
}
ul.list_9 li .mini-post-meta .post-comments a {
	line-height:16px;
	text-decoration:none;
	color:#9b9ea5;
}
ul.list_9 li .mini-post-meta .post-comments a:focus {
	text-decoration:none;
	color:#9b9ea5;
}
ul.list_9 li .mini-post-meta .post-comments a:hover {
	text-decoration:underline;
	color:#9b9ea5;
}
.spacer { height:24px; }
body.home .spacer { height:21px; }
a.btn-primary {
	background:#c81919;
	display:inline-block;
	margin:0;
	padding:8px 12px 8px 12px;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	vertical-align:top;
	line-height:19px;
	font-size:14px;
	font-weight:700;
	text-shadow:none;
	text-decoration:none;
	color:#fff !important;
}
@media (max-width: 767px) {
	a.btn-primary { margin-bottom:20px; }
}
a.btn-primary:focus {
	background:#c81919;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
	color:#fff;
}
a.btn-primary:hover {
	background:#ABC710;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
	color:#fff;
}
.banner-wrap {
	position:relative;
	margin:0 0 30px 0;
}
@media (max-width: 767px) {
	.banner-wrap {
		display:inline-block;
		max-width:270px;
		margin:0 27px 30px 0;
		vertical-align:top;
	}
}
.banner-wrap .featured-thumbnail {
	width:100%;
	float:none;
	margin:0;
}
.banner-wrap .featured-thumbnail a {
	float:none;
	border:none;
}
.banner-wrap h5 {
	background:#393a3c;
	position:absolute;
	margin:0;
	padding:3px 10px 3px 10px;
	line-height:29px;
	font-size:19px;
	font-weight:700;
	top:0;
	left:0;
	color:#fff;
}
.banner-wrap p {
	background:#c81919;
	margin:0;
	padding:7px 12px 12px 12px;
	line-height:25px;
	font-size:19px;
	font-weight:700;
	color:#fff;
}
.list.arrow-list ul {
	margin:0;
	padding:0;
}
.list.arrow-list ul li {
	position:relative;
	margin:0;
	padding:5px 0 5px 18px;
	border-bottom:1px solid #ccced4;
	list-style:none;
	line-height:19px;
	font-size:13px;
	color:#646464;
}
.list.arrow-list ul li:before {
	position:absolute;
	line-height:20px;
	font-family:FontAwesome;
	font-size:14px;
	color:#d81c1c;
	top:5px;
	left:0;
	content:'\f0a9';
}
.list.arrow-list ul li a {
	text-decoration:none;
	color:#646464;
}
.list.arrow-list ul li a:focus {
	text-decoration:none;
	color:#646464;
}
.list.arrow-list ul li a:hover {
	text-decoration:none;
	color:#c81919;
}
.footer {
	background:none;
	margin:0;
	padding:0;
	border:none;
	line-height:19px;
	font-size:11px;
	color:#868991;
}
@media (max-width: 767px) {
	.footer { padding:0 20px; }
}
@media (max-width: 767px) {
	.footer h4 { margin-top:30px; }
}
.footer .footer-widgets { padding:30px 30px 39px 0; }
.footer .footer-widgets .textwidget b {
	display:block;
	margin:0 0 23px 0;
}
.footer .footer-widgets .textwidget strong {
	display:block;
	position:relative;
	margin:0 0 4px 0;
	padding:1px 0 0 33px;
	line-height:20px;
	font-size:13px;
	font-weight:400;
	color:#777;
}
@media (max-width: 767px) {
	.footer .footer-widgets .textwidget strong { margin:0 0 12px 0; }
}
.footer .footer-widgets .textwidget strong:before {
	line-height:24px;
	font-family:FontAwesome;
	font-size:23px;
	color:#e21010;
	position:absolute;
	top:-1px;
	left:0;
	content:'\f015';
}
.footer .footer-widgets .textwidget i {
	display:block;
	position:relative;
	margin:0 0 12px 0;
	padding:0 0 0 33px;
	line-height:20px;
	font-size:13px;
	font-style:normal;
	color:#777;
}
@media (min-width: 768px) and (max-width: 979px) {
	.footer .footer-widgets .textwidget i { font-size:12px; }
}
.footer .footer-widgets .textwidget i:before {
	line-height:24px;
	font-family:FontAwesome;
	font-size:23px;
	color:#e21010;
	position:absolute;
	top:0;
	left:0;
	content:'\f095';
}
.footer .footer-widgets .textwidget i span {
	margin:0 0 0 3px;
	font-size:18px;
	font-weight:700;
	color:#fff;
}
@media (min-width: 980px) and (max-width: 1200px) {
	.footer .footer-widgets .textwidget i span { font-size:16px; }
}
html.ie8 .footer .footer-widgets .textwidget i span { font-size:16px; }
@media (min-width: 768px) and (max-width: 979px) {
	.footer .footer-widgets .textwidget i span {
		margin:0;
		font-size:12px;
		font-weight:400;
	}
}
.footer .footer-widgets .textwidget em {
	display:block;
	position:relative;
	padding:0 0 0 33px;
	line-height:20px;
	font-size:13px;
	font-style:normal;
	color:#e21010;
}
@media (min-width: 768px) and (max-width: 979px) {
	.footer .footer-widgets .textwidget em { font-size:12px; }
}
.footer .footer-widgets .textwidget em:before {
	line-height:24px;
	font-family:FontAwesome;
	font-size:23px;
	color:#e21010;
	position:absolute;
	top:-2px;
	left:0;
	content:'\f003';
}
.footer .footer-widgets .textwidget em a {
	text-decoration:underline;
	color:#e21010;
}
.footer .footer-widgets .textwidget em a:focus {
	text-decoration:none;
	color:#e21010;
}
.footer .footer-widgets .textwidget em a:hover {
	text-decoration:none;
	color:#e21010;
}
.footer .footer-widgets ul {
	margin:0;
	padding:0;
}
.footer .footer-widgets ul li {
	margin:9px 0 0 0;
	padding:0;
	list-style:none;
	line-height:18px;
	font-size:13px;
	color:#868991;
}
.footer .footer-widgets ul li:first-child { margin:0; }
.footer .footer-widgets ul li a {
	text-decoration:none;
	color:#868991;
}
.footer .footer-widgets ul li a:focus {
	text-decoration:none;
	color:#868991;
}
.footer .footer-widgets ul li a:hover {
	text-decoration:none;
	color:#fff;
}
.footer .copyright {
	margin:0;
	padding:7px 0 25px 0;
	border-top:1px solid #48494a;
}
.footer .copyright .footer-text {
	float:none;
	margin:0;
}
@media (max-width: 767px) {
	.footer .copyright .footer-text { text-align:left; }
}
.footer .copyright .footer-text i {
	margin:0 3px;
	font-style:normal;
}
.footer .copyright .footer-text a {
	text-decoration:none;
	color:#868991;
}
.footer .copyright .footer-text a:focus {
	text-decoration:none;
	color:#868991;
}
.footer .copyright .footer-text a:hover {
	text-decoration:none;
	color:#fff;
}
.footer .copyright .footer-nav { margin:0; }
@media (min-width: 768px) and (max-width: 979px) {
	.footer .copyright .footer-nav ul { text-align:right; }
}
@media (max-width: 767px) {
	.footer .copyright .footer-nav ul { text-align:left; }
}
.footer .copyright .footer-nav ul li {
	margin:0 0 0 13px;
	padding:0;
}
@media (max-width: 480px) {
	.footer .copyright .footer-nav ul li { margin:0 0 0 9px; }
}
.footer .copyright .footer-nav ul li:first-child { margin:0; }
.footer .copyright .footer-nav ul li.current-menu-item a {
	text-decoration:none;
	color:#fff;
}
.footer .copyright .footer-nav ul li.current-menu-item a:focus {
	text-decoration:none;
	color:#fff;
}
.footer .copyright .footer-nav ul li.current-menu-item a:hover {
	text-decoration:none;
	color:#fff;
}
.footer .copyright .footer-nav ul li a:hover {
	text-decoration:none;
	color:#fff;
}
.list_11 {
	margin:0 0 10px -1px;
	padding:8px 0 0 0;
	line-height:0;
	font-size:0;
}
@media (max-width: 767px) {
	.list_11 { margin:0 0 10px 0; }
}
.list_11 li {
	position:relative;
	float:left;
	width:155px;
	height:87px;
	margin:0 0 1px 1px;
	vertical-align:top;
	list-style:none;
	line-height:19px;
	font-size:14px;
	font-weight:700;
	color:#fff;
}
@media (min-width: 980px) and (max-width: 1200px) {
	.list_11 li { width:206px; }
}
html.ie8 .list_11 li { width:206px; }
@media (min-width: 768px) and (max-width: 979px) {
	.list_11 li { width:158px; }
}
@media (max-width: 767px) {
	.list_11 li {
		float:none;
		width:100%;
		margin:0 0 1px 0;
	}
}
.list_11 li:first-child width: 100%

			@media (min-width: 980px) and (max-width: 1200px) { width:413px; }
html.ie8 .list_11 li:first-child { width:413px; }
@media (min-width: 768px) and (max-width: 979px) {
	.list_11 li:first-child { width:317px; }
}
@media (max-width: 767px) {
	.list_11 li:first-child { width:100%; }
}
.list_11 li:first-child .post_content h2 {
	margin:0 0 2px 0;
	line-height:15px;
	font-size:13px;
}
html.ie8 .list_11 li:first-child .post_content h2 {
	line-height:15px;
	font-size:13px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.list_11 li:first-child .post_content h2 {
		max-height:48px;
		overflow:hidden;
		line-height:24px;
		font-size:13px;
		font-weight:400;
	}
}
@media (max-width: 480px) {
	.list_11 li:first-child .post_content h2 {
		line-height:21px;
		font-size:13px;
	}
}
.list_11 li .thumbnail {
	width:100%;
	height:auto;
	margin:0;
	padding:0;
}
html.ie8 .list_11 li .thumbnail { background:none; }
.list_11 li .thumbnail a:before {
	background:url(images/post_content.png) repeat-x 50% 100%;
	display:block;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	content:'';
}
html.ie8 .list_11 li .thumbnail a img {
	position:relative;
	z-index:-1;
}
@media (max-width: 767px) {
	.list_11 li .thumbnail a img {
		width:100%;
		height:auto;
	}
}
.list_11 li .post_category {
	display:none;
	position:absolute;
	top:0;
	left:0;
}
.list_11 li .post_category a {
	background:#d81c1c;
	display:block;
	padding:3px 10px 7px 10px;
	line-height:25px;
	font-size:19px;
	font-weight:700;
	color:#fff;
	text-decoration:none;
	color:#fff;
}
@media (min-width: 768px) and (max-width: 979px) {
	.list_11 li .post_category a {
		line-height:21px;
		font-size:15px;
	}
}
.list_11 li .post_category a:focus {
	background:#d81c1c;
	text-decoration:none;
	color:#fff;
}
.list_11 li .post_category a:hover {
	background:#323335;
	text-decoration:none;
	color:#fff;
}
.list_11 li .post_content {
	margin:0;
	padding:0;
	position:absolute;
	right:8px;
	bottom:6px;
	left:8px;
}
.list_11 li .post_content h2 {
	margin:0 0 -4px 0;
	padding:0;
	border:none;
	line-height:19px;
	font-size:14px;
	text-decoration:none;
	color:#fff;
}
html.ie8 .list_11 li .post_content h2 {
	line-height:16px;
	font-size:12px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.list_11 li .post_content h2 {
		max-height:32px;
		overflow:hidden;
		line-height:16px;
		font-size:12px;
		font-weight:400;
	}
}
@media (max-width: 767px) {
	.list_11 li .post_content h2 {
		margin:0 0 2px 0;
		line-height:35px;
		font-size:34px;
	}
}
@media (max-width: 480px) {
	.list_11 li .post_content h2 {
		line-height:21px;
		font-size:20px;
	}
}
.list_11 li .post_content h2 a {
	text-decoration:none;
	color:#fff;
}
.list_11 li .post_content h2 a:focus {
	text-decoration:none;
	color:#fff;
}
.list_11 li .post_content h2 a:hover {
	text-decoration:underline;
	color:#fff;
}
.list_11 li .post_content .post_date {
	margin:0 15px 0 0;
	line-height:16px;
	font-size:10px;
	font-weight:400;
	color:#fff;
}
@media (min-width: 768px) and (max-width: 979px) {
	.list_11 li .post_content .post_date { margin:0 9px 0 0; }
}
.list_11 li .post_content .post_date:before {
	margin:0 5px 0 0;
	font-family:FontAwesome;
	font-size:10px;
	content:'\f017';
}
.list_11 li .post_content .post_comment {
	line-height:16px;
	font-size:10px;
	font-weight:400;
	color:#fff;
}
@media (min-width: 768px) and (max-width: 979px) {
	.list_11 li .post_content .post_comment { display:none; }
}
.list_11 li .post_content .post_comment:before {
	margin:0 5px 0 0;
	font-family:FontAwesome;
	font-size:13px;
	content:'\f075';
}
.list_11 li .post_content .post_comment a {
	text-decoration:none;
	color:#fff;
}
.list_11 li .post_content .post_comment a:focus {
	text-decoration:none;
	color:#fff;
}
.list_11 li .post_content .post_comment a:hover {
	text-decoration:underline;
	color:#fff;
}
#back-top-wrapper {
	right:40px;
	bottom:40px;
}
#back-top-wrapper p#back-top { margin:0; }
#back-top-wrapper p#back-top a { width:auto; }
#back-top-wrapper p#back-top a:hover:before {
	background:#9FC900;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
#back-top-wrapper p#back-top a:before {
	background:#2a2b2c;
	display:inline-block;
	width:31px;
	height:31px;
	overflow:hidden;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	vertical-align:top;
	line-height:30px;
	font-family:FontAwesome;
	font-size:12px;
	text-align:center;
	color:#fff;
	content:'\f077';
}
#back-top-wrapper p#back-top a span { display:none; }
.thumbnail {
	padding:0;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
html.ie8 .thumbnail { background:none; }
html.ie8 .thumbnail a img {
	position:relative;
	z-index:-1;
}
.title-section { padding:0 0 3px 0; }
.title-section h1 {
	margin:0 0 8px 0;
	padding:0 0 3px 0;
	border-bottom:4px solid #D9D7D5;
	line-height:32px;
	font-size:24px;
	color:#333436;
}
.title-section ul {
	background:none;
	margin:0;
	padding:0;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.title-section ul li {
	line-height:20px;
	font-size:14px;
	color:#868991;
}
.title-section ul li.divider { margin:0 3px; }
.title-section ul li.divider:after {
	line-height:20px;
	font-size:14px;
	color:#868991;
}
.title-section ul li.active { color:#333436; }
.title-section ul li a {
	text-decoration:none;
	color:#868991;
}
.title-section ul li a:focus {
	text-decoration:none;
	color:#868991;
}
.title-section ul li a:hover {
	text-decoration:none;
	color:#333436;
}
.pagination ul li a {
	-webkit-border-radius:0 !important;
	-moz-border-radius:0 !important;
	border-radius:0 !important;
}
article.post h3 {
	border:none;
	line-height:19px;
	font-size:13px;
	color:#333436;
}
.post-header h2 { margin-bottom:10px !important; }
.post_meta i { color:#d81c1c; }
.post_meta a {
	text-decoration:none;
	color:#333436;
}
.post_meta a:focus {
	text-decoration:none;
	color:#333436;
}
.post_meta a:hover {
	text-decoration:none;
	color:#d81c1c;
}
.post-author {
	background:#f2f2f2;
	border:none;
}
.post-author h3 {
	margin:0 0 15px 0;
	padding:0;
	border:none;
}
.post-author .post-author_gravatar img {
	padding:0;
	border:none;
}
.post-author .post-author_link { margin:15px 0 0 0; }
.post-author .post-author_link p {
	margin:0;
	line-height:20px;
	font-size:13px;
}
.post-author .post-author_link p a {
	text-decoration:none;
	color:#333436;
}
.post-author .post-author_link p a:focus {
	text-decoration:none;
	color:#333436;
}
.post-author .post-author_link p a:hover {
	text-decoration:none;
	color:#d81c1c;
}
@media (max-width: 480px) {
	.post-author .post-author_desc { overflow:visible; }
}
#commentform p {
	width:100%;
	overflow:hidden;
}
#commentform input[type="text"], #commentform input[type="email"], #commentform textarea { min-height:39px; }
#commentform input[type="submit"] { margin:0; }
.comment-list li .comment-body {
	background:#f2f2f2 !important;
	border:none;
}
.comment-list li .comment-body .author {
	padding:7px 0 0 0;
	line-height:20px;
	font-size:13px;
	color:#333436;
}
@media (max-width: 480px) {
	.comment-list li .comment-body .extra-wrap { overflow:visible; }
}
.comment-list li .comment-body .comment-meta {
	margin:0;
	padding:8px 0 8px 0;
	line-height:19px;
	font-size:13px;
	color:#868991;
}
.comment-list li .comment-body .reply a {
	background:#c81919;
	display:inline-block;
	margin:0;
	padding:8px 12px 8px 12px;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	vertical-align:top;
	line-height:19px;
	font-size:14px;
	font-weight:700;
	text-shadow:none;
	text-decoration:none;
	color:#fff !important;
}
.comment-list li .comment-body .reply a:focus {
	background:#c81919;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
	color:#fff;
}
.comment-list li .comment-body .reply a:hover {
	background:#323335;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
	color:#fff;
}
.cancel-comment-reply { padding:0 0 8px 0; }
.related-posts ul li {
	line-height:19px;
	font-size:13px;
	color:#333436;
}
.related-posts ul li a {
	text-decoration:none;
	color:#333436;
}
.related-posts ul li a:focus {
	text-decoration:none;
	color:#333436;
}
.related-posts ul li a:hover {
	text-decoration:none;
	color:#d81c1c;
}
.wpcf7-form { padding:9px 0 0 0; }
.wpcf7-form input[type="text"], .wpcf7-form input[type="email"], .wpcf7-form textarea { padding:5px 8px !important; }
.wpcf7-form .wpcf7-not-valid-tip {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
html.ie8 .wpcf7-form .wpcf7-not-valid-tip { line-height:20px; }
@media (min-width: 768px) and (max-width: 979px) {
	.wpcf7-form .wpcf7-not-valid-tip {
		padding-left:3px !important;
		padding-right:2px !important;
	}
}
.wpcf7-form .ajax-loader { margin:7px 0 0 0; }
.wpcf7-form .wpcf7-response-output {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.filter-wrapper {
	margin:0 0 30px 0;
	padding:3px 0 9px 0;
	border-bottom:4px solid #c81919;
}
.filter-wrapper strong {
	margin:0;
	padding:0;
	line-height:19px;
	font-size:13px;
	font-weight:400;
	color:#333436;
}
.filter-wrapper ul {
	margin:0;
	padding:0;
}
.filter-wrapper ul li {
	margin:0 0 0 29px;
	padding:0;
	list-style:none;
	line-height:19px;
	font-size:13px;
	color:#868991;
}
.filter-wrapper ul li.active a {
	background:none;
	text-decoration:none;
	color:#d81c1c;
}
.filter-wrapper ul li.active a:focus {
	background:none;
	text-decoration:none;
	color:#d81c1c;
}
.filter-wrapper ul li.active a:hover {
	background:none;
	text-decoration:none;
	color:#d81c1c;
}
.filter-wrapper ul li a {
	background:none;
	margin:0;
	padding:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	line-height:19px;
	font-size:13px;
	color:#868991;
}
.filter-wrapper ul li a:focus {
	background:none;
	text-decoration:none;
	color:#868991;
}
.filter-wrapper ul li a:hover {
	background:none;
	text-decoration:none;
	color:#d81c1c;
}
#portfolio-grid li .thumbnail { margin:0 0 15px 0; }
#portfolio-grid li h3 {
	border:none;
	line-height:19px;
	font-size:14px;
	color:#333436;
}
.type-portfolio .thumbnail.large { margin:0; }
ul.pager { margin-top:30px; }
ul.pager li a {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
@media (max-width: 767px) {
	.error404-holder { text-align:center; }
}
.error404-holder .error404-holder_num { color:#d81c1c; }
@media (min-width: 768px) and (max-width: 979px) {
	.error404-holder .error404-holder_num { font-size:220px; }
}
.error404-holder h2 {
	margin:0;
	border:none;
}
.error404-holder h4 {
	line-height:19px;
	font-size:14px;
	color:#333436;
}
.faq-list h4 {
	margin:0;
	padding:0;
	line-height:19px;
	font-size:14px;
	font-weight:700;
	color:#333436;
}
html.ie8 .posts-grid li .thumbnail img { max-width:inherit; }
.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
	display:table;
	content:"";
	line-height:0;
}
.clearfix:after { clear:both; }
.hide-text {
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
.input-block-level {
	display:block;
	width:100%;
	min-height:29px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
