/*--
	Theme Name: theme51867
	Theme URI: http://info.template-help.com/help/
	Description: A theme for Wordpress 3.8.x
	Author: Template_Help.com
	Author URI: http://info.template-help.com/help/
	Template: CherryFramework
	Version: 3.1.2
--*/

/* ----------------------------------------
	Please, You may put custom CSS here
---------------------------------------- */

ul.social_menu{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 32px;
    position: absolute;
    left: 0;
    top: 15px;
    z-index: 99999;
    display: none;
}
ul.social_menu li{
    list-style-type: none;
    float: left;
    margin-right: 15px;
}
#fv_filter{
    float: right;
}
.list_1 a > img{
    height: 192px;
    width: auto;
}
.list_1 li:nth-child(1) a > img{
    height: 385px;
}
.footer-widgets .row:last-of-type{
    border-top: 0px solid #48494a;
	padding: 20px;
}

@media only screen and (max-width: 1200px) {
    #mega_main_menu.header_menu > .menu_holder > .menu_inner > ul > li > .item_link .link_text{
        font-size: 14px !important;
    }
    .list_1 a > img{
        height: 154px;
    }
    .list_1 li:nth-child(1) a > img{
        height: 309px;
    }
}

@media only screen and (max-width: 980px) {
    #mega_main_menu.header_menu > .menu_holder > .menu_inner > ul > li > .item_link .link_text{
        font-size: 14px !important;
    }
    .list_1 a > img{
        height: 118px;
    }
    .list_1 li:nth-child(1) a > img{
        height: 237px;
    }
}

@media only screen and (max-width: 768px) {
    ul.social_menu{
        left: 20px !important;
    }
}
#w4pl-list-2346 .thumbnail{
    background: none !important;
	width: 40px;
    height: 40px;
}

.post-author .post-author_gravatar img {
	width: 60px;
    height: 60px;
    float: left;
    margin: 0 20px 0 0;
}

u, ins {
    text-decoration: none;
}

