/*import CherryFramework style*/
@import url("../CherryFramework/style.css");
@import url(//fonts.googleapis.com/css?family=Roboto:400,700);

/* #General
================================================== */

body {
	background: #333436;

	@media (max-width: 767px) {
		padding: 0;
	}

}

.creative-place-bottom	{

	@media (max-width: 767px) {
	padding-top: 35px;
	padding-bottom: 35px;
	}
	
}


.placeholder(@color: @placeholderText) {
  &::-moz-placeholder {
    color: @color;
  }
  &::-ms-input-placeholder {
    color: @color;
  }
  &::-webkit-input-placeholder {
    color: @color;
  }
}

.main-holder {
	overflow: hidden;

	input[type="text"], input[type="email"], textarea {
		background: #fff;
		min-height: 21px;
		margin: 0;
		padding: 9px 13px 9px 13px !important;
		border: 1px solid #d9d7d5 !important;
		.border-radius(0);
		.box-shadow(none);
		resize: none;
		font-family: @RobotoFontFamily;
		font-size: 13px;
		font-weight: 400;
		color: #868991 !important;

		html.ie8 & {
			line-height: 20px;
		}

	}

	input[type="submit"], input[type="reset"] {
		background: #E6352B;
		height: 41px;
		margin: 0 15px 0 0;
		padding: 0 12px;
		border: none;
		.border-radius(0);
		.box-shadow(none);
		.placeholder(#fff);
		.transition(0.8s);
		font-family: @RobotoFontFamily;
		font-size: 14px;
		font-weight: 700;
		text-shadow: none;
		color: #fff;

		&:focus {
			background: #ABC80F;
			.transition(0.4s);
			color: #fff;
		}

		&:hover {
			background: #ABC80F;
			.transition(0.4s);
			color: #fff;
		}

	}

}

h2 {
	margin: 0 0 4px 0;
	padding: 0 0 2px 0;
	border-bottom: 4px solid #CCCED4;

	a {
		text-decoration: none;
		color: #333436;

		&:focus {
			text-decoration: none;
			color: #333436;
		}

		&:hover {
			text-decoration: none;
			color: #d81c1c;
		}

	}

}

h3 {
	margin: 0 0 4px 0;
	padding: 0 0 2px 0;
	border-bottom: 4px solid #D9D7D5;

	a {
		text-decoration: none;
		color: #333436;

		&:focus {
			text-decoration: none;
			color: #333436;
		}

		&:hover {
			text-decoration: none;
			color: #d81c1c;
		}

	}

}

h4 {
	margin: 2px 0 8px 0;

	a {
		text-decoration: none;
		color: #fff;

		&:focus {
			text-decoration: none;
			color: #fff;
		}

		&:hover {
			text-decoration: none;
			color: #e21010;
		}

	}

}

h5 {

	a {
		text-decoration: none;
		color: #333436;

		&:focus {
			text-decoration: none;
			color: #333436;
		}

		&:hover {
			text-decoration: none;
			color: #d81c1c;
		}

	}

}

h6 {
	margin: 0 0 2px 0;
	padding: 1px 0 0 0;
}

p {
	margin: 0 0 19px 0;
}

a {
	.transition(0.8s);

	&:hover {
		.transition(0.4s);
		text-decoration: none;
	}

}

/* #Header
================================================== */

.header {
	background: #454648;
	margin: 0;
	padding: 0;
	border: none;

	@media (max-width: 767px) {
		padding: 0 20px 20px 20px;
		text-align: center;
	}

	.search-form {
		@media (min-width: 357px) {
			input[type="text"], input[type="email"], textarea {
			background: #fff;
			width: 180px;
			min-height: 21px;
			margin: 0;
			padding: 9px 13px 9px 13px !important;
			border: 1px solid #d9d7d5 !important;
			.border-radius(0);
			.box-shadow(none);
			resize: none;
			font-family: @RobotoFontFamily;
			font-size: 13px;
			font-weight: 400;
			color: #868991 !important;

			html.ie8 & {
			line-height: 20px;
			}

		
		input[type="submit"], input[type="reset"] {
			background: #E6352B;
			height: 41px;
			margin: 0 15px 0 0;
			padding: 0 12px;
			border: none;
			.border-radius(0);
			.box-shadow(none);
			.placeholder(#fff);
			.transition(0.8s);
			font-family: @RobotoFontFamily;
			font-size: 14px;
			font-weight: 700;
			text-shadow: none;
			color: #fff;

		&:focus {
			background: #ABC80F;
			.transition(0.4s);
			color: #fff;
		}

		&:hover {
			background: #ABC80F;
			.transition(0.4s);
			color: #fff;
		}

		}
			
		}
		}
		}


	.block_1 {
		background: #333436;
		position: relative;
		margin: 0 0 20px 0;

		&:before {
			background: #333436;
			display: block;
			width: 101%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: -100%;
			z-index: -1;
			content: '';
		}

		&:after {
			background: #333436;
			display: block;
			width: 101%;
			position: absolute;
			top: 0;
			bottom: 0;
			right: -100%;
			z-index: -1;
			content: '';
		}

		.header_widget_1 {

			h4 {
				display: none;
			}

			ul {
				background: url(images/divider.gif) no-repeat 0% 50%;
				margin: 0;
				padding: 0 0 0 1px;
				line-height: 0;
				font-size: 0;

				@media (max-width: 767px) {
					display: inline-block;
					vertical-align: top;
				}

				@media (max-width: 480px) {
					background: none;
					margin: 0;
					padding: 5px 0;
				}

				li {
					background: url(images/divider.gif) no-repeat 100% 50%;
					display: inline-block;
					margin: 0;
					padding: 0;
					list-style: none;
					vertical-align: top;
					line-height: 19px;
					font-size: 13px;
					color: #fff;

					@media (max-width: 767px) {
						font-size: 12px;
					}

					@media (max-width: 480px) {
						background: none;
						margin: 3px 7px !important;
						font-size: 12px;
					}

					&:first-child {
						margin: 0;
					}

					a {
						display: block;
						padding: 12px 12px 17px 12px;
						text-decoration: none;
						color: #fff;

						@media (max-width: 767px) {
							padding: 10px 8px 10px 8px;
						}

						@media (max-width: 480px) {
							padding: 0;
						}

						&:focus {
							text-decoration: none;
							color: #fff;
						}

						&:hover {
							text-decoration: none;
							color: #e21010;
						}

					}

				}

			}

		}

		.search-form {

			input[type="text"] {
				background: #333436;
				float: left;
				width: 73px;
				height: 20px;
				min-height: 20px;
				margin: 0;
				padding: 14px 0 14px 15px !important;
				.placeholder(#e21010);
				border: none !important;
				font-size: 13px;
				color: #e21010 !important;
			}

			input[type="submit"] {
				background: url(images/search_submit.png) no-repeat 100% 50%;
				float: left;
				width: 41px;
				height: 41px;
				margin: 0;
				padding: 0;
				.transition(0.8s);
				line-height: 0;
				font-size: 0;

				&:hover {
					.opacity(50);
					.transition(0.4s);
				}

			}

		}

	}

	.logo {
		float: none;
		margin: 0;

		@media (min-width: 768px) and (max-width: 979px) {
			width: 100%;
		}

		.logo_h__txt {
			margin: 11px 0 0 0;
			padding: 0;
			border: none;

			a {
				text-decoration: none;

				&:focus {
					text-decoration: none;
					color: #fff;
				}

				&:hover {
					text-decoration: none;
					color: #fff;
				}

			}

		}

		.logo_tagline {
			display: none;
		}

	}

	.header_widget_2 {
		float: right;
		margin: 19px 0 0 30px;

		@media (max-width: 767px) {
			float: none;
			margin: 20px 0 0 0;
		}

		em {
			font-style: normal;

			a {
				background: #c91919;
				display: inline-block;
				position: relative;
				margin: 0;
				padding: 14px 67px 16px 17px;
				line-height: 22px;
				font-size: 17px;
				font-weight: 700;
				text-decoration: none;
				color: #fff;

				&:hover {
					background: #88898b;

					&:before {
						.transition(0.4s);
						border-color: #3b3c3e;
					}

				}

				&:before {
					background: url(images/button_item.png) no-repeat 50% 50%;
					display: block;
					width: 52px;
					border-left: 1px solid #f83232;
					.transition(0.8s);
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					content: '';
				}

			}

		}

	}

	.social-nets-wrapper {
		float: right;
		margin: 34px 0 0 0;

		@media (max-width: 767px) {
			float: none;
			margin: 20px 0 0 0;
		}

		ul {
			margin: 0;
			padding: 0;
			line-height: 0;
			font-size: 0;

			li {
				display: inline-block;
				margin: 0 0 0 17px;
				padding: 0;
				list-style: none;
				vertical-align: top;

				&:first-child {
					margin: 0;
				}

				a {
					display: inline-block;
					vertical-align: top;

					&:hover {

						&:before {
							transform: rotateY(360deg);
							-webkit-transform: rotateY(360deg);
							.transition(0.4s);
							color: #fff;
						}

					}

					&[title="facebook"] {
						&:before {
							content: '\f09a';
						}
					}

					&[title="twitter"] {
						&:before {
							content: '\f099';
						}
					}

					&[title="rss"] {
						&:before {
							content: '\f09e';
						}
					}

					&:before {
						display: inline-block;
						.transition(0.8s);
						vertical-align: top;
						line-height: 24px;
						font-family: FontAwesome;
						font-size: 22px;
						color: #88898b;
					}

					img {
						display: none;
					}

				}

			}

		}

	}

	.block_2 {
		margin: 20px 0 0 0;
	}

	.nav__primary {
		background: #ABC710 url(images/block_bg.gif) repeat 0% 0%;
		position: relative;
		margin: 0;

		@media (max-width: 767px) {
			background: none;
		}

		&.isStuck {
			z-index: 999;
		}

		&:before {
			background: #ABC710 url(images/block_bg.gif) repeat 0% 0%;
			display: block;
			width: 101%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: -100%;
			z-index: -1;
			content: '';

			@media (max-width: 767px) {
				background: none;
			}

		}

		&:after {
			background: #ABC710 url(images/block_bg.gif) repeat 0% 0%;
			display: block;
			width: 10000px;
			position: absolute;
			top: 0;
			bottom: 0;
			right: -9999px;
			z-index: -1;
			content: '';

			@media (max-width: 767px) {
				background: none;
			}

		}

		.select-menu {
			font-size: 13px;
		}
	
		.sf-menu {
			float: none;
			line-height: 0;
			font-size: 0;

			ul {
				background: #3b3c3e;
				width: 253px;
			}

			> li {
				background: none;
				display: inline-block;
				float: none;
				vertical-align: top;
				> a {
					position: relative;
					padding: 15px 20px 19px 20px;
					border: none;
					border-right: 1px solid #8AA206;

					&:before {
						background: #e6352b;
						display: block;
						.transition(0.8s);
						position: absolute;
						top: 100%;
						right: 0;
						bottom: 0;
						left: 0;
						z-index: -1;
						content: '';
					}

				}

				li {
					background: url(images/menu_line.png) repeat-x 0% 0%;

					&:first-child {
						background: none;
					}

					a {
						padding: 11px 25px 10px 17px;
						border: none;
						line-height: 18px;
						font-size: 13px;
						text-align: left;
						text-decoration: none;
						color: #fff;
					}

					.sf-sub-indicator {
						margin: -5px 0 0 0;
						top: 50%;
						right: 10px;
					}

				}

			}

		}

		ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
			left: 100%;
		}

		.sf-menu > li > a:hover, .sf-menu > li.sfHover> a, .sf-menu > li.current-menu-item > a, .sf-menu > li.current_page_item > a { background: none; &:before {top: 0; .transition(0.4s);} }
		.sf-menu li li > a:hover, .sf-menu li li.sfHover > a, .sf-menu li li.current-menu-item > a, .sf-menu li li.current_page_item > a { background: none; color: #e21010; }

		.sf-sub-indicator {
			margin: 0 -5px 0 0;
			top: 40px;
			right: 50%;
		}

	}

}


/*/ Header */


/* Logo
---------------------------------------- */

/*/ Logo */



/* #Content
================================================== */

.content-holder {
	background: #fff;
	margin: 0;
	padding: 21px 0 40px 0;

	@media (max-width: 767px) {
		padding: 20px 20px 20px 20px;
	}

	body.home & {
		padding: 21px 0 27px 0;

		@media (max-width: 767px) {
			padding: 21px 20px 27px 20px;
		}

	}

	.search-form {

		input[type="text"] {

			@media (min-width: 980px) and (max-width: 1200px) {
				width: 170px;
			}

			html.ie8 & {
				width: 170px;
			}

			@media (min-width: 768px) and (max-width: 979px) {
				width: 110px;
			}

			@media (max-width: 480px) {
				width: 150px;
			}

		}

		input[type="submit"] {
			height: 41px;
			margin: 0 0 0 10px;
		}

	}

}

/*/ Content */



/* #Comments
================================================== */

/*/ Comments */



/* #Widgets
================================================== */

#sidebar {

	h3 {
		margin: 0 0 5px 0;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			margin: 9px 0 0 0;
			padding: 0;
			list-style: none;
			line-height: 18px;
			font-size: 13px;
			color: #868991;

			&:first-child {
				margin: 0;
			}

			a {
				text-decoration: none;
				color: #868991;

				&:focus {
					text-decoration: none;
					color: #868991;
				}

				&:hover {
					text-decoration: none;
					color: #d81c1c;
				}

			}

			ul {
				padding: 9px 0 0 9px;
			}

		}

	}

	ul.post-list {
		padding: 4px 0 0 0;

		li {
			padding: 20px 0 12px 0;
			border-top: 1px solid #ccced4;
			line-height: 16px;
			font-size: 10px;

			@media (max-width: 767px) {
				width: 100%;
				overflow: hidden;
			}

			&:first-child {
				margin: 0;
				padding-top: 0;
				border: none;
			}

			&:last-child {
				margin: 0;
				padding-top: 0;
				border: none;
			}
			
			.thumbnail {
				float: none;
				margin: 0 0 12px 0;

				@media (max-width: 767px) {
					float: left;
					max-width: 50%;
					margin: 3px 20px 3px 0;
				}

			}

			.post-list_comment {

				&:before {
					margin: 0 3px 0 1px;
					line-height: 16px;
					font-size: 10px;
					content: '/';
				}

			}

			h4 {
				margin: 11px 0 7px 0;
				line-height: 19px;
				font-size: 14px;
				color: #333436;

				a {
					text-decoration: none;
					color: #333436;

					&:focus {
						text-decoration: none;
						color: #333436;
					}

					&:hover {
						text-decoration: none;
						color: #d81c1c;
					}

				}

			}

			.excerpt {
				margin: 0 0 9px 0;
				line-height: 19px;
				font-size: 13px;
			}

			.btn-primary {
				margin: 0 !important;
			}

		}

	}

	#wp-calendar {

		caption {
			color: #333436;
		}

		thead {

			tr {

				th {
					color: #333436;
				}

			}

		}

	}

}

/*/ Widgets */



/* #Shortcodes
================================================== */

.list_1 {
	margin: 0 0 10px -1px;
	padding: 8px 0 0 0;
	line-height: 0;
	font-size: 0;

	@media (max-width: 767px) {
		margin: 0 0 10px 0;
	}

	li {
		position: relative;
		float: left;
		width: 256px;
		margin: 0 0 1px 1px;
		vertical-align: top;
		list-style: none;
		line-height: 19px;
		font-size: 14px;
		font-weight: 700;
		color: #fff;

		@media (min-width: 980px) and (max-width: 1200px) {
			width: 206px;
		}

		html.ie8 & {
			width: 206px;
		}

		@media (min-width: 768px) and (max-width: 979px) {
			width: 158px;
		}

		@media (max-width: 767px) {
			float: none;
			width: 100%;
			margin: 0 0 1px 0;
		}

		&:first-child {
			width: 511px;

			@media (min-width: 980px) and (max-width: 1200px) {
				width: 412px;
			}

			html.ie8 & {
				width: 413px;
			}

			@media (min-width: 768px) and (max-width: 979px) {
				width: 317px;
			}

			@media (max-width: 767px) {
				width: 100%;
			}

			.post_content {

				h2 {
					margin: 0 0 2px 0;
					line-height: 35px;
					font-size: 34px;

					html.ie8 & {
						line-height: 33px;
						font-size: 32px;
					}

					@media (min-width: 768px) and (max-width: 979px) {
						max-height: 48px;
						overflow: hidden;
						line-height: 24px;
						font-size: 18px;
						font-weight: 400;
					}

					@media (max-width: 480px) {
						line-height: 21px;
						font-size: 20px;
					}

				}

			}

		}

		.thumbnail {
			width: 100%;
			height: auto;
			margin: 0;
			padding: 0;

			html.ie8 & {
				background: none;
			}

			a {

				&:before {
					background: url(images/post_content.png) repeat-x 50% 100%;
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					content: '';
				}

				img {

					html.ie8 & {
						position: relative;
						z-index: -1;
					}

					@media (max-width: 767px) {
						width: 100%;
						height: auto;
					}

				}

			}

		}

		.post_category {
			position: absolute;
			top: 0;
			left: 0;

			a {
				background: #E6352B;
				display: block;
				padding: 3px 10px 7px 10px;
				line-height: 25px;
				font-size: 19px;
				font-weight: 700;
				color: #fff;
				text-decoration: none;
				color: #fff;

				@media (min-width: 768px) and (max-width: 979px) {
					line-height: 21px;
					font-size: 15px;
				}

				&:focus {
					background: #E6352B;
					text-decoration: none;
					color: #fff;
				}

				&:hover {
					background: #ABC710;
					text-decoration: none;
					color: #fff;
				}

			}

		}

		.post_content {
			margin: 0;
			padding: 0;
			position: absolute;
			right: 8px;
			bottom: 6px;
			left: 8px;

			h2 {
				margin: 0 0 -4px 0;
				padding: 0;
				border: none;
				line-height: 19px;
				font-size: 14px;
				text-decoration: none;
				color: #fff;

				html.ie8 & {
					line-height: 16px;
					font-size: 12px;
				}

				@media (min-width: 768px) and (max-width: 979px) {
					max-height: 32px;
					overflow: hidden;
					line-height: 16px;
					font-size: 12px;
					font-weight: 400;
				}

				@media (max-width: 767px) {
					margin: 0 0 2px 0;
					line-height: 35px;
					font-size: 34px;
				}

				@media (max-width: 480px) {
					line-height: 21px;
					font-size: 20px;
				}

				a {
					text-decoration: none;
					color: #fff;

					&:focus {
						text-decoration: none;
						color: #fff;
					}

					&:hover {
						text-decoration: underline;
						color: #fff;
					}

				}

			}

			.post_date {
				margin: 0 15px 0 0;
				line-height: 16px;
				font-size: 10px;
				font-weight: 400;
				color: #fff;

				@media (min-width: 768px) and (max-width: 979px) {
					margin: 0 9px 0 0;
				}

				&:before {
					margin: 0 5px 0 0;
					font-family: FontAwesome;
					font-size: 10px;
					content: '\f017';
				}

			}

			.post_comment {
				line-height: 16px;
				font-size: 10px;
				font-weight: 400;
				color: #fff;

				@media (min-width: 768px) and (max-width: 979px) {
					display: none;
				}

				&:before {
					margin: 0 5px 0 0;
					font-family: FontAwesome;
					font-size: 10px;
					content: '\f075';
				}

				a {
					text-decoration: none;
					color: #fff;

					&:focus {
						text-decoration: none;
						color: #fff;
					}

					&:hover {
						text-decoration: underline;
						color: #fff;
					}

				}

			}

		}

	}

}

ul.list_2 {
	margin: 0 0 40px 0 !important;

	li {
		float: none !important;
		width: 100% !important;
		overflow: hidden;
		margin: 0;
		padding: 5px 0 5px 0;
		list-style: none;
		border-bottom: 1px solid #ccced4;
		border-top: none !important;

		&:first-child {
			padding-top: 5px;
			padding-bottom: 5px;
			border-bottom: 1px solid #ccced4;

			.excerpt {

				@media (min-width: 1200px) {
					max-height: 76px;
				}

			}
		}
		&:last-child {
			padding-top: 5px;
			border-bottom: none;
			}	

		&.format-video {

			.thumbnail {
				position: relative;

				a {

					&:hover {
						&:before {
							background: #ABC710;
							.transition(0.4s);
						}
						&:after {
							.rotate(360deg);
							.transition(0.4s);
						}
					}

					&:before {
						background: #E6352B;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 18px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '';
					}

					&:after {
						background: none;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 18px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '\f01d';
					}

				}

			}

		}
		
		&.format-image {

			.thumbnail {
				position: relative;

				a {

					&:hover {
						&:before {
							background: #ABC710;
							.transition(0.4s);
						}
						&:after {
							.rotate(360deg);
							.transition(0.4s);
						}
					}

					&:before {
						background: #E6352B;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 16px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '';
					}

					&:after {
						background: none;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 16px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '\f030';
					}

				}

			}

		}
		
		
		&.format-audio {

			.thumbnail {
				position: relative;

				a {

					&:hover {
						&:before {
							background: #ABC710;
							.transition(0.4s);
						}
						&:after {
							.rotate(360deg);
							.transition(0.4s);
						}
					}

					&:before {
						background: #E6352B;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 16px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '';
					}

					&:after {
						background: none;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 16px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '\f028';
					}

				}

			}

		}
		
				&.format-gallery { 

			.thumbnail {
				position: relative;

				a {

					&:hover {
						&:before {
							background: #ABC710;
							.transition(0.4s);
						}
						&:after {
							.rotate(360deg);
							.transition(0.4s);
						}
					}

					&:before {
						background: #E6352B;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 16px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '';
					}

					&:after {
						background: none;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 16px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '\f03e';
					}

				}

			}

		}

				&.format-gallery { 

			.thumbnail {
				position: relative;

				a {

					&:hover {
						&:before {
							background: #ABC710;
							.transition(0.4s);
						}
						&:after {
							.rotate(360deg);
							.transition(0.4s);
						}
					}

					&:before {
						background: #E6352B;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 16px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '';
					}

					&:after {
						background: none;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 16px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '\f03e';
					}

				}

			}

		}
		
		
		&.format-standard { 

			.thumbnail {
				position: relative;

				a {

					&:hover {
						&:before {
							background: #ABC710;
							.transition(0.4s);
						}
						&:after {
							.rotate(360deg);
							.transition(0.4s);
						}
					}

					&:before {
						background: #E6352B;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 18px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '';
					}

					&:after {
						background: none;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 18px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '\f0f6';
					}

				}

			}

		}
		
		
		.thumbnail {
			float: left;
			margin: 6px 9px 6px 0;
		}

		.inner {

			@media (min-width: 1200px) {
				overflow: hidden;
			}

		}

		.post_category {
			display: block;
			margin: 0 0 -1px 0;
			line-height: 20px;
			font-size: 13px;
			font-weight: 700;
			color: #d81c1c;

			a {
				text-decoration: none;
				color: #d81c1c;

				&:focus {
					text-decoration: none;
					color: #d81c1c;
				}

				&:hover {
					text-decoration: none;
					color: #333436;
				}

			}

		}

		h5 {
			margin: 0 0 2px 0;
		}

		.excerpt {
			margin: 0 0 6px 0;

			@media (min-width: 1200px) {
				max-height: 38px;
				overflow: hidden;
			}

			a {
				text-decoration: none;
				color: #868991;

				&:focus {
					text-decoration: none;
					color: #868991;
				}

				&:hover {
					text-decoration: none;
					color: #333436;
				}

			}

		}

		.meta {
			overflow: visible;
			margin: 0;
			padding: 0 0 0 1px;
			line-height: 16px;
			font-size: 10px;

			.post-date {
				margin: 0 15px 0 0;
				line-height: 16px;
				font-size: 10px;
				font-weight: 400;
				text-transform: none;
				color: #9b9ea5;

				&:before {
					margin: 0 5px 0 0;
					font-family: FontAwesome;
					font-size: 10px;
					content: '\f017';
				}

			}

			.post-comments {
				float: none;
				line-height: 16px;
				font-size: 10px;
				font-weight: 400;
				color: #9b9ea5;

				&:before {
					margin: 0 5px 0 0;
					line-height: 16px;
					font-family: FontAwesome;
					font-size: 10px;
					content: '\f075';
				}

				a {
					line-height: 16px;
					text-decoration: none;
					color: #9b9ea5;

					&:focus {
						text-decoration: none;
						color: #9b9ea5;
					}

					&:hover {
						text-decoration: underline;
						color: #9b9ea5;
					}

				}

			}

		}

	}

}

ul.list_3 {
	margin: 0 0 22px 0 !important;

	li {
		float: none !important;
		width: 100% !important;
		overflow: hidden;
		margin: 0;
		padding: 4px 0 4px 0;
		list-style: none;
		border-bottom: 1px solid #ccced4;
		border-top: none !important;

		&:last-child {
			border-bottom: none;
		}

		&:first-child {
			padding-top: 0;
		}

		&.format-video {

			.thumbnail {
				position: relative;

				a {

					&:hover {
						&:before {
							background: #323335;
							.transition(0.4s);
						}
						&:after {
							.rotate(360deg);
							.transition(0.4s);
						}
					}

					&:before {
						background: #d81c1c;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 19px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '';
					}

					&:after {
						background: none;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 19px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '\f01d';
					}

				}

			}

		}

		.thumbnail {
			float: left;
			max-width: 50%;
			margin: 6px 9px 6px 0;

			@media (max-width: 767px) {
				margin: 6px 9px 3px 0;
			}

		}

		.inner {

			@media (min-width: 1200px) {
				overflow: hidden;
			}

		}
		h5 {
			margin: 0 0 2px 0;
		}

		.post_category {
			display: block;
			margin: 0 0 -1px 0;
			line-height: 20px;
			font-size: 13px;
			font-weight: 700;
			color: #d81c1c;

			a {
				text-decoration: none;
				color: #d81c1c;

				&:focus {
					text-decoration: none;
					color: #d81c1c;
				}

				&:hover {
					text-decoration: none;
					color: #333436;
				}

			}

		}

		.excerpt {
		display: none;
			margin: 0 0 6px 0;
			color: #333436;

			@media (min-width: 1200px) {
				max-height: 38px;
				overflow: hidden;
			}

			a {
				text-decoration: none;
				color: #333436;

				&:focus {
					text-decoration: none;
					color: #333436;
				}

				&:hover {
					text-decoration: none;
					color: #d81c1c;
				}

			}

		}

		.meta {
			overflow: visible;
			margin: 0;
			padding: 0 0 0 1px;
			line-height: 16px;
			font-size: 10px;

			.post-date {
				margin: 0 15px 0 0;
				line-height: 16px;
				font-size: 10px;
				font-weight: 400;
				text-transform: none;
				color: #9b9ea5;

				&:before {
					margin: 0 5px 0 0;
					font-family: FontAwesome;
					font-size: 10px;
					content: '\f017';
				}

			}

			.post-comments {
				float: none;
				line-height: 16px;
				font-size: 10px;
				font-weight: 400;
				color: #9b9ea5;

				&:before {
					margin: 0 5px 0 0;
					line-height: 16px;
					font-family: FontAwesome;
					font-size: 10px;
					content: '\f075';
				}

				a {
					line-height: 16px;
					text-decoration: none;
					color: #9b9ea5;

					&:focus {
						text-decoration: none;
						color: #9b9ea5;
					}

					&:hover {
						text-decoration: underline;
						color: #9b9ea5;
					}

				}

			}

		}

	}

}

ul.list_4 {
	margin: 0 0 40px 0 !important;

	li {
		float: none !important;
		width: 100% !important;
		overflow: hidden;
		margin: 0;
		padding: 5px 0 6px 0;
		list-style: none;
		border-bottom: 1px solid #ccced4;
		border-top: none !important;

		&:first-child {
			padding-top: 0;

			.excerpt {

				@media (min-width: 1200px) {
					max-height: 76px;
				}

			}
		}

		&:last-child {
			padding-top: 0;
			border-bottom: none;
		}
		
		&.format-video {
			
			.thumbnail {
			
				position: relative;
				a {

					&:hover {
						&:before {
							background: #ABC710;
							.transition(0.4s);
						}
						&:after {
							.rotate(360deg);
							.transition(0.4s);
						}
					}

					&:before {
						background: #E6352B;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 18px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '';
					}

					&:after {
						background: none;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 18px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '\f01d';
					}

				}
					
			}

		}
		
		&.format-image {

			.thumbnail {
				position: relative;

				a {

					&:hover {
						&:before {
							background: #ABC710;
							.transition(0.4s);
						}
						&:after {
							.rotate(360deg);
							.transition(0.4s);
						}
					}

					&:before {
						background: #E6352B;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 16px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '';
					}

					&:after {
						background: none;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 16px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '\f030';
					}

				}

			}

		}
		
		
		&.format-audio {

			.thumbnail {
				position: relative;

				a {

					&:hover {
						&:before {
							background: #ABC710;
							.transition(0.4s);
						}
						&:after {
							.rotate(360deg);
							.transition(0.4s);
						}
					}

					&:before {
						background: #E6352B;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 16px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '';
					}

					&:after {
						background: none;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 16px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '\f028';
					}

				}

			}

		}
		
				&.format-gallery { 

			.thumbnail {
				position: relative;

				a {

					&:hover {
						&:before {
							background: #ABC710;
							.transition(0.4s);
						}
						&:after {
							.rotate(360deg);
							.transition(0.4s);
						}
					}

					&:before {
						background: #E6352B;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 16px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '';
					}

					&:after {
						background: none;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 16px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '\f03e';
					}

				}

			}

		}


		
		&.format-standard { 

			.thumbnail { 
				position: relative;

				a { 
					
					&:hover {
						&:before {
							background: #ABC710;
							.transition(0.4s);
						}
						&:after {
							.rotate(360deg);
							.transition(0.4s);
						}
					}

					&:before {
						background: #E6352B;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 18px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '';
					}

					&:after {
						background: none;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 18px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '\f0f6';
					}

				}

			}

		}
		

		.thumbnail 
		{@media (min-width: 1px) and (max-width: 399px) {
			display: none;}
			float: left;
			margin: 6px 9px 6px 0;
		
		}

		.inner {

			@media (min-width: 1200px) {
				overflow: hidden;
			}

		}

		.post_category {
			display: none;
			margin: 0 0 -1px 0;
			line-height: 20px;
			font-size: 13px;
			font-weight: 700;
			color: #d81c1c;

			a {
				text-decoration: none;
				color: #d81c1c;

				&:focus {
					text-decoration: none;
					color: #d81c1c;
				}

				&:hover {
					text-decoration: none;
					color: #333436;
				}

			}

		}

		h5 {
			margin: 0 0 2px 0;
		}

		.excerpt {
			display: block;
			margin: 0 0 6px 0;

			@media (min-width: 1200px) {
				max-height: 38px;
				overflow: hidden;
			}

			a {
				text-decoration: none;
				color: #868991;

				&:focus {
					text-decoration: none;
					color: #868991;
				}

				&:hover {
					text-decoration: none;
					color: #333436;
				}

			}

		}

		.meta {
			display: block;
			overflow: visible;
			margin: 0;
			padding: 0 0 0 1px;
			line-height: 16px;
			font-size: 10px;

			.post-date {
				margin: 0 15px 0 0;
				line-height: 16px;
				font-size: 10px;
				font-weight: 400;
				text-transform: none;
				color: #9b9ea5;

				&:before {
					margin: 0 5px 0 0;
					font-family: FontAwesome;
					font-size: 10px;
					content: '\f017';
				}

			}

			.post-comments {
				float: none;
				line-height: 16px;
				font-size: 10px;
				font-weight: 400;
				color: #9b9ea5;

				&:before {
					margin: 0 5px 0 0;
					line-height: 16px;
					font-family: FontAwesome;
					font-size: 10px;
					content: '\f075';
				}

				a {
					line-height: 16px;
					text-decoration: none;
					color: #9b9ea5;

					&:focus {
						text-decoration: none;
						color: #9b9ea5;
					}

					&:hover {
						text-decoration: underline;
						color: #9b9ea5;
					}

				}

			}

		}

	}

}

ul.list_5 {
	margin: 0 0 10px 0 !important;

	li {
		float: none !important;
		width: 100% !important;
		overflow: hidden;
		margin: 0;
		padding: 5px 0 6px 0;
		list-style: none;
		border-bottom: 1px solid #ccced4;
		border-top: none !important;
		
		&:first-child {
			padding-top: 0;

			.excerpt {

				@media (min-width: 1200px) {
					max-height: 76px;
				}

			}

		}

		&.format-video {

			.thumbnail {
				position: relative;

				a {

					&:hover {
						&:before {
							background: #323335;
							.transition(0.4s);
						}
						&:after {
							.rotate(360deg);
							.transition(0.4s);
						}
					}

					&:before {
						background: #d81c1c;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 19px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '';
					}

					&:after {
						background: none;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 19px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '\f01d';
					}

				}

			}

		}

		.thumbnail {
			float: left;
			margin: 6px 9px 6px 0;
		}

		.inner {

			@media (min-width: 1200px) {
				overflow: hidden;
			}

		}

		.post_category {
			display: none;
			margin: 0 0 -1px 0;
			line-height: 20px;
			font-size: 13px;
			font-weight: 700;
			color: #d81c1c;

			a {
				text-decoration: none;
				color: #d81c1c;

				&:focus {
					text-decoration: none;
					color: #d81c1c;
				}

				&:hover {
					text-decoration: none;
					color: #333436;
				}

			}

		}

		h5 {
			margin: 0 0 2px 0;
		}

		.excerpt {
			margin: 0 0 6px 0;

			@media (min-width: 1200px) {
				max-height: 38px;
				overflow: hidden;
			}

			a {
				text-decoration: none;
				color: #868991;

				&:focus {
					text-decoration: none;
					color: #868991;
				}

				&:hover {
					text-decoration: none;
					color: #d81c1c;
				}

			}

		}

		.meta {
			overflow: visible;
			margin: 0;
			padding: 0 0 0 1px;
			line-height: 16px;
			font-size: 10px;

			.post-date {
				margin: 0 15px 0 0;
				line-height: 16px;
				font-size: 10px;
				font-weight: 400;
				text-transform: none;
				color: #9b9ea5;

				&:before {
					margin: 0 5px 0 0;
					font-family: FontAwesome;
					font-size: 10px;
					content: '\f017';
				}

			}

			.post-comments {
				float: none;
				line-height: 16px;
				font-size: 10px;
				font-weight: 400;
				color: #9b9ea5;

				&:before {
					margin: 0 5px 0 0;
					line-height: 16px;
					font-family: FontAwesome;
					font-size: 10px;
					content: '\f075';
				}

				a {
					line-height: 16px;
					text-decoration: none;
					color: #9b9ea5;

					&:focus {
						text-decoration: none;
						color: #9b9ea5;
					}

					&:hover {
						text-decoration: underline;
						color: #9b9ea5;
					}

				}

			}

		}

	}

}

ul.list_6 {
	margin: 0 0 10px 0 !important;

	li {
		float: none !important;
		width: 100% !important;
		overflow: hidden;
		margin: 0;
		padding: 5px 0 6px 0;
		list-style: none;
		border-bottom: 1px solid #ccced4;
		border-top: none !important;

		&:first-child {
			padding-top: 0;

			.excerpt {

				@media (min-width: 1200px) {
					max-height: 76px;
				}

			}

		}

		&.format-video {

			.thumbnail {
				position: relative;

				a {

					&:hover {
						&:before {
							background: #323335;
							.transition(0.4s);
						}
						&:after {
							.rotate(360deg);
							.transition(0.4s);
						}
					}

					&:before {
						background: #d81c1c;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 19px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '';
					}

					&:after {
						background: none;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 19px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '\f01d';
					}

				}

			}

		}

		.thumbnail {
			max-width: 50%;
			float: left;
			margin: 6px 9px 6px 0;

			@media (max-width: 767px) {
				margin: 3px 9px 3px 0;
			}

		}

		.inner {

			@media (min-width: 1200px) {
				overflow: hidden;
			}

		}

		.post_category {
			display: none;
			margin: 0 0 -1px 0;
			line-height: 20px;
			font-size: 13px;
			font-weight: 700;
			color: #d81c1c;

			a {
				text-decoration: none;
				color: #d81c1c;

				&:focus {
					text-decoration: none;
					color: #d81c1c;
				}

				&:hover {
					text-decoration: none;
					color: #333436;
				}

			}

		}

		h5 {
			display: none;
			margin: 0 0 2px 0;
		}

		.excerpt {
			margin: 0 0 6px 0;

			@media (min-width: 1200px) {
				max-height: 38px;
				overflow: hidden;
			}

			a {
				text-decoration: none;
				color: #333436;

				&:focus {
					text-decoration: none;
					color: #333436;
				}

				&:hover {
					text-decoration: none;
					color: #d81c1c;
				}

			}

		}

		.meta {
			overflow: visible;
			margin: 0;
			padding: 0 0 0 1px;
			line-height: 16px;
			font-size: 10px;

			.post-date {
				margin: 0 15px 0 0;
				line-height: 16px;
				font-size: 10px;
				font-weight: 400;
				text-transform: none;
				color: #9b9ea5;

				&:before {
					margin: 0 5px 0 0;
					font-family: FontAwesome;
					font-size: 10px;
					content: '\f017';
				}

			}

			.post-comments {
				float: none;
				line-height: 16px;
				font-size: 10px;
				font-weight: 400;
				color: #9b9ea5;

				&:before {
					margin: 0 5px 0 0;
					line-height: 16px;
					font-family: FontAwesome;
					font-size: 10px;
					content: '\f075';
				}

				a {
					line-height: 16px;
					text-decoration: none;
					color: #9b9ea5;

					&:focus {
						text-decoration: none;
						color: #9b9ea5;
					}

					&:hover {
						text-decoration: underline;
						color: #9b9ea5;
					}

				}

			}

		}

	}

}

ul.list_7 {
	margin: 0 0 12px 0 !important;

	li {
		float: none !important;
		width: 100% !important;
		overflow: hidden;
		margin: 0;
		padding: 4px 0 5px 0;
		list-style: none;
		border-bottom: 1px solid #ccced4;
		border-top: none !important;

		&:first-child {
			padding-top: 0;

			.excerpt {

				@media (min-width: 1200px) {
					max-height: 76px;
				}

			}

		}

		&.format-video {

			.thumbnail {
				position: relative;

				a {

					&:hover {
						&:before {
							background: #323335;
							.transition(0.4s);
						}
						&:after {
							.rotate(360deg);
							.transition(0.4s);
						}
					}

					&:before {
						background: #d81c1c;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 19px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '';
					}

					&:after {
						background: none;
						position: absolute;
						width: 30px;
						height: 30px;
						overflow: hidden;
						.transition(0.8s);
						line-height: 30px;
						font-family: FontAwesome;
						font-size: 19px;
						text-align: center;
						color: #fff;
						right: 0;
						bottom: 0;
						content: '\f01d';
					}

				}

			}

		}

		.thumbnail {
			float: left;
			margin: 6px 9px 6px 0;
		}

		.inner {

			@media (min-width: 1200px) {
				overflow: hidden;
			}

		}

		.post_category {
			display: none;
			margin: 0 0 -1px 0;
			line-height: 20px;
			font-size: 13px;
			font-weight: 700;
			color: #d81c1c;

			a {
				text-decoration: none;
				color: #d81c1c;

				&:focus {
					text-decoration: none;
					color: #d81c1c;
				}

				&:hover {
					text-decoration: none;
					color: #333436;
				}

			}

		}

		h5 {
			margin: 0 0 2px 0;
		}

		.excerpt {
			margin: 0 0 6px 0;

			@media (min-width: 1200px) {
				max-height: 38px;
				overflow: hidden;
			}

			a {
				text-decoration: none;
				color: #868991;

				&:focus {
					text-decoration: none;
					color: #868991;
				}

				&:hover {
					text-decoration: none;
					color: #333436;
				}

			}

		}

		.meta {
			overflow: visible;
			margin: 0;
			padding: 0 0 0 1px;
			line-height: 16px;
			font-size: 10px;

			.post-date {
				margin: 0 15px 0 0;
				line-height: 16px;
				font-size: 10px;
				font-weight: 400;
				text-transform: none;
				color: #9b9ea5;

				&:before {
					margin: 0 5px 0 0;
					font-family: FontAwesome;
					font-size: 10px;
					content: '\f017';
				}

			}

			.post-comments {
				float: none;
				line-height: 16px;
				font-size: 10px;
				font-weight: 400;
				color: #9b9ea5;

				&:before {
					margin: 0 5px 0 0;
					line-height: 16px;
					font-family: FontAwesome;
					font-size: 10px;
					content: '\f075';
				}

				a {
					line-height: 16px;
					text-decoration: none;
					color: #9b9ea5;

					&:focus {
						text-decoration: none;
						color: #9b9ea5;
					}

					&:hover {
						text-decoration: underline;
						color: #9b9ea5;
					}

				}

			}

		}

	}

}

.list_8 {
	margin: 0 0 10px 0;
	padding: 6px 0 5px 0;
	border-bottom: 1px solid #ccced4;
	border-top: none !important;

	li {
		margin-bottom: 0;

		@media (max-width: 767px) {
			width: 100%;
			overflow: hidden;
			padding: 10px 0;
		}

		.thumbnail {
			margin: 0 0 12px 0;

			@media (max-width: 767px) {
				float: left;
				max-width: 50%;
				margin: 3px 20px 3px 0;
			}

		}

		.clear {

			@media (max-width: 767px) {
				display: none;
			}

		}

		h5 {
			margin: 0 0 1px 0;
		}

		.excerpt {
			margin: 0;
		}

		.post_meta {
			overflow: hidden;
			margin: 0;
			padding: 0 0 0 1px;
			border: none;

			.post_date {
				margin: 0 15px 0 0;
				line-height: 16px;
				font-size: 10px;
				font-weight: 400;
				text-transform: none;
				color: #9b9ea5;

				&:before {
					margin: 0 5px 0 0;
					font-family: FontAwesome;
					font-size: 10px;
					content: '\f017';
				}

			}

			.post_comment {
				float: none;
				line-height: 16px;
				font-size: 10px;
				font-weight: 400;
				color: #9b9ea5;

				&:before {
					margin: 0 5px 0 0;
					line-height: 16px;
					font-family: FontAwesome;
					font-size: 10px;
					content: '\f075';
				}

				a {
					line-height: 16px;
					text-decoration: none;
					color: #9b9ea5;

					&:focus {
						text-decoration: none;
						color: #9b9ea5;
					}

					&:hover {
						text-decoration: underline;
						color: #9b9ea5;
					}

				}

			}

		}

	}

}

ul.list_9 {
	margin: 0 0 19px 0;
	padding: 0;

	li {
		width: auto !important;
		height: auto !important;
		margin: 0;
		padding: 5px 0 7px 0 !important;
		list-style: none;
		border: none !important;
		border-bottom: 1px solid #ccced4 !important;
		border-top: none !important;
		line-height: 19px;
		font-size: 13px;
		color: #333436;

		&:first-child {
			padding-top: 0 !important;
		}

		&:last-child {
			border-bottom: none !important;
		}

		&.format-video {
			.mini-post-meta {
				.post_icon {
					&:before {
						content: '\f03d';
					}
				}
			}
		}

		&.format-image {
			.mini-post-meta {
				.post_icon {
					&:before {
						content: '\f030';
					}
				}
			}
		}

		.thumbnail {
			display: none;
		}

		.post_category {
			display: block;
			margin: 0 0 -1px 0;
			line-height: 20px;
			font-size: 13px;
			font-weight: 700;
			color: #d81c1c;

			a {
				text-decoration: none;
				color: #d81c1c;

				&:focus {
					text-decoration: none;
					color: #d81c1c;
				}

				&:hover {
					text-decoration: none;
					color: #333436;
				}

			}

		}

		.excerpt {
			margin: 0 0 3px 0;

			a {
				text-decoration: none;
				color: #333436;

				&:focus {
					text-decoration: none;
					color: #333436;
				}

				&:hover {
					text-decoration: none;
					color: #d81c1c;
				}

			}

		}

		.mini-post-meta {
			overflow: hidden;
			padding: 0 0 0 1px;

			.post_icon {

				&:before {
					display: inline-block;
					margin: 2px 12px 0 0;
					vertical-align: top;
					line-height: 16px;
					font-family: FontAwesome;
					font-size: 13px;
					color: #d81c1c;
					content: '\f14c';
				}

			}

			time {
				margin: 0 15px 0 0;
				line-height: 16px;
				font-size: 10px;
				font-weight: 400;
				text-transform: none;
				color: #9b9ea5;

				&:before {
					margin: 0 5px 0 0;
					font-family: FontAwesome;
					font-size: 10px;
					content: '\f017';
				}

			}

			.post-comments {
				float: none;
				line-height: 16px;
				font-size: 10px;
				font-weight: 400;
				color: #9b9ea5;

				&:before {
					margin: 0 5px 0 0;
					line-height: 16px;
					font-family: FontAwesome;
					font-size: 10px;
					content: '\f075';
				}

				a {
					line-height: 16px;
					text-decoration: none;
					color: #9b9ea5;

					&:focus {
						text-decoration: none;
						color: #9b9ea5;
					}

					&:hover {
						text-decoration: underline;
						color: #9b9ea5;
					}

				}

			}

		}

	}

}

.spacer {
	height: 24px;

	body.home & {
		height: 21px;
	}

}

a.btn-primary {
	background: #c81919;
	display: inline-block;
	margin: 0;
	padding: 8px 12px 8px 12px;
	border: none;
	.border-radius(0);
	.box-shadow(none);
	.transition(0.8s);
	vertical-align: top;
	line-height: 19px;
	font-size: 14px;
	font-weight: 700;
	text-shadow: none;
	text-decoration: none;
	color: #fff !important;

	@media (max-width: 767px) {
		margin-bottom: 20px;
	}

	&:focus {
		background: #c81919;
		.box-shadow(none);
		.transition(0.4s);
		color: #fff;
	}

	&:hover {
		background: #323335;
		.box-shadow(none);
		.transition(0.4s);
		color: #fff;
	}

}

.banner-wrap {
	position: relative;
	margin: 0 0 30px 0;

	@media (max-width: 767px) {
		display: inline-block;
		max-width: 270px;
		margin: 0 27px 30px 0;
		vertical-align: top;
	}

	.featured-thumbnail {
		width: 100%;
		float: none;
		margin: 0;

		a {
			float: none;
			border: none;
		}

	}

	h5 {
		background: #393a3c;
		position: absolute;
		margin: 0;
		padding: 3px 10px 3px 10px;
		line-height: 29px;
		font-size: 19px;
		font-weight: 700;
		top: 0;
		left: 0;
		color: #fff;
	}

	p {
		background: #c81919;
		margin: 0;
		padding: 7px 12px 12px 12px;
		line-height: 25px;
		font-size: 19px;
		font-weight: 700;
		color: #fff;
	}

}

.list {

	&.arrow-list {

		ul {
			margin: 0;
			padding: 0;

			li {
				position: relative;
				margin: 0;
				padding: 5px 0 5px 18px;
				border-bottom: 1px solid #ccced4;
				list-style: none;
				line-height: 19px;
				font-size: 13px;
				color: #646464;

				&:before {
					position: absolute;
					line-height: 20px;
					font-family: FontAwesome;
					font-size: 14px;
					color: #d81c1c;
					top: 5px;
					left: 0;
					content: '\f0a9';
				}

				a {
					text-decoration: none;
					color: #646464;

					&:focus {
						text-decoration: none;
						color: #646464;
					}

					&:hover {
						text-decoration: none;
						color: #c81919;
					}

				}

			}

		}

	}

}

/*/ Shortcodes */



/* #Footer
================================================== */

.footer {
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	line-height: 19px;
	font-size: 11px;
	color: #868991;

	@media (max-width: 767px) {
		padding: 0 20px;
	}

	h4 {

		@media (max-width: 767px) {
			margin-top: 30px;
		}

	}

	.footer-widgets {
		padding: 30px 0 39px 0;

		.textwidget {

			b {
				display: block;
				margin: 0 0 23px 0;
			}

			strong {
				display: block;
				position: relative;
				margin: 0 0 4px 0;
				padding: 1px 0 0 33px;
				line-height: 20px;
				font-size: 13px;
				font-weight: 400;
				color: #777;

				@media (max-width: 767px) {
					margin: 0 0 12px 0;
				}

				&:before {
					line-height: 24px;
					font-family: FontAwesome;
					font-size: 23px;
					color: #e21010;
					position: absolute;
					top: -1px;
					left: 0;
					content: '\f015';
				}

			}

			i {
				display: block;
				position: relative;
				margin: 0 0 12px 0;
				padding: 0 0 0 33px;
				line-height: 20px;
				font-size: 13px;
				font-style: normal;
				color: #777;

				@media (min-width: 768px) and (max-width: 979px) {
					font-size: 12px;
				}

				&:before {
					line-height: 24px;
					font-family: FontAwesome;
					font-size: 23px;
					color: #e21010;
					position: absolute;
					top: 0;
					left: 0;
					content: '\f095';
				}

				span {
					margin: 0 0 0 3px;
					font-size: 18px;
					font-weight: 700;
					color: #fff;

					@media (min-width: 980px) and (max-width: 1200px) {
						font-size: 16px;
					}

					html.ie8 & {
						font-size: 16px;
					}

					@media (min-width: 768px) and (max-width: 979px) {
						margin: 0;
						font-size: 12px;
						font-weight: 400;
					}

				}

			}

			em {
				display: block;
				position: relative;
				padding: 0 0 0 33px;
				line-height: 20px;
				font-size: 13px;
				font-style: normal;
				color: #e21010;

				@media (min-width: 768px) and (max-width: 979px) {
					font-size: 12px;
				}

				&:before {
					line-height: 24px;
					font-family: FontAwesome;
					font-size: 23px;
					color: #e21010;
					position: absolute;
					top: -2px;
					left: 0;
					content: '\f003';
				}

				a {
					text-decoration: underline;
					color: #e21010;

					&:focus {
						text-decoration: none;
						color: #e21010;
					}

					&:hover {
						text-decoration: none;
						color: #e21010;
					}

				}

			}

		}

		ul {
			margin: 0;
			padding: 0;

			li {
				margin: 9px 0 0 0;
				padding: 0;
				list-style: none;
				line-height: 18px;
				font-size: 13px;
				color: #868991;

				&:first-child {
					margin: 0;
				}

				a {
					text-decoration: none;
					color: #868991;

					&:focus {
						text-decoration: none;
						color: #868991;
					}

					&:hover {
						text-decoration: none;
						color: #fff;
					}

				}

			}

		}

	}

	.copyright {
		margin: 0;
		padding: 7px 0 25px 0;
		border-top: 1px solid #48494a;

		.footer-text {
			float: none;
			margin: 0;

			@media (max-width: 767px) {
				text-align: left;
			}

			i {
				margin: 0 3px;
				font-style: normal;
			}

			a {
				text-decoration: none;
				color: #868991;

				&:focus {
					text-decoration: none;
					color: #868991;
				}

				&:hover {
					text-decoration: none;
					color: #fff;
				}

			}

		}

		.footer-nav {
			margin: 0;

			ul {

				@media (min-width: 768px) and (max-width: 979px) {
					text-align: right;
				}

				@media (max-width: 767px) {
					text-align: left;
				}

				li {
					margin: 0 0 0 13px;
					padding: 0;

					@media (max-width: 480px) {
						margin: 0 0 0 9px;
					}

					&:first-child {
						margin: 0;
					}

					&.current-menu-item {

						a {
							text-decoration: none;
							color: #fff;

							&:focus {
								text-decoration: none;
								color: #fff;
							}

							&:hover {
								text-decoration: none;
								color: #fff;
							}

						}

					}

					a {

						&:hover {
							text-decoration: none;
							color: #fff;
						}

					}

				}

			}

		}

	}

}

.list_11 {
	margin: 0 0 10px -1px;
	padding: 8px 0 0 0;
	line-height: 0;
	font-size: 0;

	@media (max-width: 767px) {
		margin: 0 0 10px 0;
	}

	li {
		position: relative;
		float: left;
		width: 155px;
		height: 87px;
		margin: 0 0 1px 1px;
		vertical-align: top;
		list-style: none;
		line-height: 19px;
		font-size: 14px;
		font-weight: 700;
		color: #fff;

		@media (min-width: 980px) and (max-width: 1200px) {
			width: 206px;
		}

		html.ie8 & {
			width: 206px;
		}

		@media (min-width: 768px) and (max-width: 979px) {
			width: 158px;
		}

		@media (max-width: 767px) {
			float: none;
			width: 100%;
			margin: 0 0 1px 0;
		}

		&:first-child {
			width: 100%

			@media (min-width: 980px) and (max-width: 1200px) {
				width: 413px;
			}

			html.ie8 & {
				width: 413px;
			}

			@media (min-width: 768px) and (max-width: 979px) {
				width: 317px;
			}

			@media (max-width: 767px) {
				width: 100%;
			}

			.post_content {

				h2 {
					margin: 0 0 2px 0;
					line-height: 15px;
					font-size: 13px;

					html.ie8 & {
						line-height: 15px;
						font-size: 13px;
					}

					@media (min-width: 768px) and (max-width: 979px) {
						max-height: 48px;
						overflow: hidden;
						line-height: 24px;
						font-size: 13px;
						font-weight: 400;
					}

					@media (max-width: 480px) {
						line-height: 21px;
						font-size: 13px;
					}

				}

			}

		}

		.thumbnail {
			width: 100%;
			height: auto;
			margin: 0;
			padding: 0;

			html.ie8 & {
				background: none;
			}

			a {

				&:before {
					background: url(images/post_content.png) repeat-x 50% 100%;
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					content: '';
				}

				img {

					html.ie8 & {
						position: relative;
						z-index: -1;
					}

					@media (max-width: 767px) {
						width: 100%;
						height: auto;
					}

				}

			}

		}

		.post_category {
			display: none;
			position: absolute;
			top: 0;
			left: 0;

			a {
				background: #d81c1c;
				display: block;
				padding: 3px 10px 7px 10px;
				line-height: 25px;
				font-size: 19px;
				font-weight: 700;
				color: #fff;
				text-decoration: none;
				color: #fff;

				@media (min-width: 768px) and (max-width: 979px) {
					line-height: 21px;
					font-size: 15px;
				}

				&:focus {
					background: #d81c1c;
					text-decoration: none;
					color: #fff;
				}

				&:hover {
					background: #323335;
					text-decoration: none;
					color: #fff;
				}

			}

		}

		.post_content {
			margin: 0;
			padding: 0;
			position: absolute;
			right: 8px;
			bottom: 6px;
			left: 8px;

			h2 {
				margin: 0 0 -4px 0;
				padding: 0;
				border: none;
				line-height: 19px;
				font-size: 14px;
				text-decoration: none;
				color: #fff;

				html.ie8 & {
					line-height: 16px;
					font-size: 12px;
				}

				@media (min-width: 768px) and (max-width: 979px) {
					max-height: 32px;
					overflow: hidden;
					line-height: 16px;
					font-size: 12px;
					font-weight: 400;
				}

				@media (max-width: 767px) {
					margin: 0 0 2px 0;
					line-height: 35px;
					font-size: 34px;
				}

				@media (max-width: 480px) {
					line-height: 21px;
					font-size: 20px;
				}

				a {
					text-decoration: none;
					color: #fff;

					&:focus {
						text-decoration: none;
						color: #fff;
					}

					&:hover {
						text-decoration: underline;
						color: #fff;
					}

				}

			}

			.post_date {
				margin: 0 15px 0 0;
				line-height: 16px;
				font-size: 10px;
				font-weight: 400;
				color: #fff;

				@media (min-width: 768px) and (max-width: 979px) {
					margin: 0 9px 0 0;
				}

				&:before {
					margin: 0 5px 0 0;
					font-family: FontAwesome;
					font-size: 10px;
					content: '\f017';
				}

			}

			.post_comment {
				line-height: 16px;
				font-size: 10px;
				font-weight: 400;
				color: #fff;

				@media (min-width: 768px) and (max-width: 979px) {
					display: none;
				}

				&:before {
					margin: 0 5px 0 0;
					font-family: FontAwesome;
					font-size: 10px;
					content: '\f075';
				}

				a {
					text-decoration: none;
					color: #fff;

					&:focus {
						text-decoration: none;
						color: #fff;
					}

					&:hover {
						text-decoration: underline;
						color: #fff;
					}

				}

			}

		}

	}

}

/*/ Footer */


/* #Misc
================================================== */

#back-top-wrapper {
	right: 40px;
	bottom: 40px;

	p#back-top {
		margin: 0;

		a {
			width: auto;

			&:hover {
				&:before {
					background: #9FC900;
					.transition(0.4s);
				}
			}

			&:before {
				background: #2a2b2c;
				display: inline-block;
				width: 31px;
				height: 31px;
				overflow: hidden;
				.border-radius(50%);
				.transition(0.8s);
				vertical-align: top;
				line-height: 30px;
				font-family: FontAwesome;
				font-size: 12px;
				text-align: center;
				color: #fff;
				content: '\f077';
			}

			span {
				display: none;
			}

		}

	}

}

.thumbnail {
	padding: 0;
	border: none;
	.border-radius(0);
	.box-shadow(none);

	html.ie8 & {
		background: none;
	}

	a {

		img {

			html.ie8 & {
				position: relative;
				z-index: -1;
			}

		}

	}

}

.title-section {
	padding: 0 0 3px 0;

	h1 {
		margin: 0 0 8px 0;
		padding: 0 0 3px 0;
		border-bottom: 4px solid #D9D7D5;
		line-height: 32px;
		font-size: 24px;
		color: #333436;
	}

	ul {
		background: none;
		margin: 0;
		padding: 0;
		border: none;
		.border-radius(0);
		.box-shadow(none);

		li {
			line-height: 20px;
			font-size: 14px;
			color: #868991;

			&.divider {
				margin: 0 3px;

				&:after {
					line-height: 20px;
					font-size: 14px;
					color: #868991;
				}

			}

			&.active {
				color: #333436;
			}

			a {
				text-decoration: none;
				color: #868991;

				&:focus {
					text-decoration: none;
					color: #868991;
				}

				&:hover {
					text-decoration: none;
					color: #333436;
				}

			}

		}

	}

}

.pagination {

	ul {

		li {

			a {
				.border-radius(0) !important;
			}

		}

	}

}

article.post {

	h3 {
		border: none;
		line-height: 19px;
		font-size: 13px;
		color: #333436;
	}

}

.post-header {

	h2 {
		margin-bottom: 10px !important;
	}

}

.post_meta {

	i {
		color: #d81c1c;
	}

	a {
		text-decoration: none;
		color: #333436;

		&:focus {
			text-decoration: none;
			color: #333436;
		}

		&:hover {
			text-decoration: none;
			color: #d81c1c;
		}

	}

}

.post-author {
	background: #f2f2f2;
	border: none;

	h3 {
		margin: 0 0 15px 0;
		padding: 0;
		border: none;
	}

	.post-author_gravatar {

		img {
			padding: 0;
			border: none;
		}

	}

	.post-author_link {
		margin: 15px 0 0 0;

		p {
			margin: 0;
			line-height: 20px;
			font-size: 13px;

			a {
				text-decoration: none;
				color: #333436;

				&:focus {
					text-decoration: none;
					color: #333436;
				}

				&:hover {
					text-decoration: none;
					color: #d81c1c;
				}

			}

		}

	}

	.post-author_desc  {

		@media (max-width: 480px) {
			overflow: visible;
		}

	}

}

#commentform {

	p {
		width: 100%;
		overflow: hidden;
	}

	input[type="text"], input[type="email"], textarea {
		min-height: 39px;
	}

	input[type="submit"] {
		margin: 0;
	}

}

.comment-list {

	li {

		.comment-body {
			background: #f2f2f2 !important;
			border: none;

			.author {
				padding: 7px 0 0 0;
				line-height: 20px;
				font-size: 13px;
				color: #333436;
			}

			.extra-wrap {

				@media (max-width: 480px) {
					overflow: visible;
				}

			}

			.comment-meta {
				margin: 0;
				padding: 8px 0 8px 0;
				line-height: 19px;
				font-size: 13px;
				color: #868991;
			}

			.reply {

				a {
					background: #c81919;
					display: inline-block;
					margin: 0;
					padding: 8px 12px 8px 12px;
					border: none;
					.border-radius(0);
					.box-shadow(none);
					.transition(0.8s);
					vertical-align: top;
					line-height: 19px;
					font-size: 14px;
					font-weight: 700;
					text-shadow: none;
					text-decoration: none;
					color: #fff !important;

					&:focus {
						background: #c81919;
						.box-shadow(none);
						.transition(0.4s);
						color: #fff;
					}

					&:hover {
						background: #323335;
						.box-shadow(none);
						.transition(0.4s);
						color: #fff;
					}

				}

			}

		}

	}

}

.cancel-comment-reply {
	padding: 0 0 8px 0;
}

.related-posts {

	ul {

		li {
			line-height: 19px;
			font-size: 13px;
			color: #333436;

			a {
				text-decoration: none;
				color: #333436;

				&:focus {
					text-decoration: none;
					color: #333436;
				}

				&:hover {
					text-decoration: none;
					color: #d81c1c;
				}

			}

		}

	}

}

.wpcf7-form {
	padding: 9px 0 0 0;

	input[type="text"], input[type="email"], textarea {
		padding: 5px 8px !important;
	}

	.wpcf7-not-valid-tip {
		.border-radius(0);

		html.ie8 & {
			line-height: 20px;
		}

		@media (min-width: 768px) and (max-width: 979px) {
			padding-left: 3px !important;
			padding-right: 2px !important;
		}

	}

	.ajax-loader {
		margin: 7px 0 0 0;
	}

	.wpcf7-response-output {
		.border-radius(0);
	}

}

.filter-wrapper {
	margin: 0 0 30px 0;
	padding: 3px 0 9px 0;
	border-bottom: 4px solid #c81919;

	strong {
		margin: 0;
		padding: 0;
		line-height: 19px;
		font-size: 13px;
		font-weight: 400;
		color: #333436;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			margin: 0 0 0 29px;
			padding: 0;
			list-style: none;
			line-height: 19px;
			font-size: 13px;
			color: #868991;

			&.active {

				a {
					background: none;
					text-decoration: none;
					color: #d81c1c;

					&:focus {
						background: none;
						text-decoration: none;
						color: #d81c1c;
					}

					&:hover {
						background: none;
						text-decoration: none;
						color: #d81c1c;
					}

				}

			}

			a {
				background: none;
				margin: 0;
				padding: 0;
				.border-radius(0);
				.box-shadow(none);
				line-height: 19px;
				font-size: 13px;
				color: #868991;

				&:focus {
					background: none;
					text-decoration: none;
					color: #868991;
				}

				&:hover {
					background: none;
					text-decoration: none;
					color: #d81c1c;
				}

			}

		}

	}

}

#portfolio-grid {

	li {

		.thumbnail {
			margin: 0 0 15px 0;
		}

		h3 {
			border: none;
			line-height: 19px;
			font-size: 14px;
			color: #333436;
		}

	}

}

.type-portfolio {

	.thumbnail {

		&.large {
			margin: 0;
		}

	}

}

ul.pager {
	margin-top: 30px;

	li {

		a {
			.border-radius(0);
		}

	}

}

.error404-holder {

	@media (max-width: 767px) {
		text-align: center;
	}

	.error404-holder_num {
		color: #d81c1c;

		@media (min-width: 768px) and (max-width: 979px) {
			font-size: 220px;
		}

	}

	h2 {
		margin: 0;
		border: none;
	}

	h4 {
		line-height: 19px;
		font-size: 14px;
		color: #333436;
	}

}

.faq-list {

	h4 {
		margin: 0;
		padding: 0;
		line-height: 19px;
		font-size: 14px;
		font-weight: 700;
		color: #333436;
	}

}

.posts-grid {

	li {

		.thumbnail {

			img {

				html.ie8 & {
					max-width: inherit;
				}

			}

		}

	}

}

/*/ Misc */


@import "bootstrap/less/variables.less";
@import "bootstrap/less/mixins.less";